openapi: 3.0.1
info:
  title: Bookings
  description: Bookings API
  contact:
    url: 'https://rail-europe.stoplight.io/'
  version: '1.0'
servers:
  - url: 'https://api-sandbox.era.raileurope.com'
security:
  - bearerAuth: []
tags:
  - name: bookings
    description: Bookings API
  - name: checkout
    description: Checkout API
  - name: refund
    description: Refunds API
  - name: exchange
    description: Exchanges API
  - name: edit-travelers
    description: Edit travelers API
  - name: billing-documents
    description: Billing documents API
paths:
  /bookings:
    post:
      tags:
        - bookings
      summary: Create a booking
      description: 'Create a new booking from a list of Items: more details on HOW TO use this endpoint [here](docs/how-to/booking/create.md).'
      operationId: postBookingsCreateBooking
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: X-CorrelationId
          in: header
          description: UUID (Universally Unique Identifier) that conforms to Microsoft/DCE standard
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookingRequest'
            examples:
              passesOfferLocations:
                value:
                  items:
                    - offerLocations:
                        - /offers/passes/searches/e7aeab93-b672-4b51-8c1e-ed678dba28fb/offers/pass-offer-1
              pointToPointOfferLocations:
                value:
                  items:
                    - offerLocations:
                        - /offers/point-to-point/searches/2a8c891c-6555-41b7-8627-f24c39423ca9/offers/6e04180b-b6d9-4e2b-a7c4-5953a9f9bf29
              pointToPointRoundtripOfferLocations:
                value:
                  items:
                    - offerLocations:
                        - /offers/point-to-point/searches/492669a5-7da1-42c4-bd9d-45b0bebc3023/offers/4c496959-ac62-4f5f-b2ec-6bc92b4a0ab0
                        - /offers/point-to-point/searches/492669a5-7da1-42c4-bd9d-45b0bebc3023/offers/4e0750d5-756c-40a2-9d38-8a0c0c06ba09
              multipleOffersLocations:
                value:
                  items:
                    - offerLocations:
                        - /offers/passes/searches/e7aeab93-b672-4b51-8c1e-ed678dba28fb/offers/pass-offer-1
                    - offerLocations:
                        - /offers/point-to-point/searches/492669a5-7da1-42c4-bd9d-45b0bebc3023/offers/4c496959-ac62-4f5f-b2ec-6bc92b4a0ab0
                        - /offers/point-to-point/searches/492669a5-7da1-42c4-bd9d-45b0bebc3023/offers/4e0750d5-756c-40a2-9d38-8a0c0c06ba09
        required: false
        description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Response P2P one-way created:
                  $ref: '#/components/examples/response-P2P-booking-created'
                Response P2P roundtrip created:
                  $ref: '#/components/examples/response-P2P-booking-created-roundtrip'
                Response Pass created:
                  $ref: '#/components/examples/response-Pass-booking-created'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
    get:
      tags:
        - bookings
      summary: Retrieve bookings
      operationId: retrieveBookings
      x-stoplight:
        id: b3mh2hkv8bxcw
      description: |-
        **FIND BOOKINGS BY QUERY STRING**

        > **PLEASE NOTE that this service should only be used in very specific cases.** (e.g. reconciliation of two systems, when one of them doesn't know the `bookingId`). When possible, please use the endpoint [`GET /bookings/{bookingId}`](reference/bookings.oas3.yml/paths/~1bookings~1{bookingId}/get) instead, that will provide much more information on your booking and will support a much higher number of requests. 

        This service allows you to find bookings by using a query string. _Example: `GET /bookings?query=TKDZTX`_   

        The query string can contain:
        - the booking id 
        - the booking reference
        - the agency booking reference
        - the contact's (`booking.contact`) first name, last name, email address or phone number
        - a traveler first name, last name, email address or phone number
        - a PNR reference
        - a ticket number

        ***

        **WARNING n°1** : If the service is used too intensively, it will return an HTTP 403 "Forbidden" error.   

        **WARNING n°2** : As an example, if you request for a "query" = "5246", THEN this endpoint could return you in one same response all the bookings (made by your Point of Sale) WHERE :
        - pnr = F5246...
        - contact phone number = 06 52 46... 
        - etc.
        --> So please note that you might need to implement some filters on your end, before displaying these bookings to a final customer.

        ***

        **FIND BOOKINGS WITH PENDING ALERTS**

        This service also allows you to find bookings that have pending alerts. _Example: `GET /bookings?requirements=hasPendingAlerts`_


        This service is paginated (see the query parameters).

        More details on HOW TO use this endpoint [here](https://docs.era.raileurope.com/docs/era-api-doc/61b00cdee68d8-create-a-booking#retrieve-bookings-optional).
      parameters:
        - schema:
            type: string
          in: query
          name: query
          required: true
        - schema:
            type: string
            enum:
              - bookingModificationDate
              - travelDate
          in: query
          name: sortBy
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: sortOrder
        - schema:
            type: number
          in: query
          name: pageIndex
        - schema:
            type: number
          in: query
          name: pageSize
        - schema:
            type: string
            enum:
              - hasPendingAlerts
          in: query
          name: requirements
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingSearchViewPage'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/bookings/{bookingId}':
    get:
      tags:
        - bookings
      summary: Retrieve a booking
      description: "Retrieving a booking using its ID. A booking ID is the UUID-like long hexadecimal string in the format of `xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx` (8-4-4-4-12). It is not to be confused with booking reference, which has the format of the letter S/K followed by 9-digit number.\r\n\r\nMore details on HOW TO use this endpoint [here](https://docs.era.raileurope.com/docs/era-api-doc/61b00cdee68d8-create-a-booking#retrieve-a-booking-optional)."
      operationId: getBookingsRetrieveBooking
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
        - name: refresh
          in: query
          description: triggers a call to the carrier(s') inventorie(s) to get up-to-date booking details
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Created P2P one-way booking:
                  $ref: '#/components/examples/response-P2P-booking-created'
                Prebooked P2P booking:
                  $ref: '#/components/examples/response-P2P-booking-prebooking'
                Invoiced P2P booking:
                  $ref: '#/components/examples/response-P2P-booking-confirm-print-async'
                Refunded P2P booking:
                  $ref: '#/components/examples/response-P2P-refund-confirmation'
                Ceated Pass booking:
                  $ref: '#/components/examples/response-Pass-booking-created'
                Invoiced Pass booking:
                  $ref: '#/components/examples/response-Pass-booking-confirm'
                Created P2P roundtrip booking:
                  $ref: '#/components/examples/response-P2P-booking-created-roundtrip'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/bookings/{bookingId}/billing-payer':
    put:
      tags:
        - bookings
      summary: Update billing payer information
      description: 'Update the billing payer information: more details on HOW TO use this endpoint [here](docs/how-to/booking/update-billing-payer.md).'
      operationId: putBookingsUpdateBillingPayer
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayerOfRecordRequest'
            examples:
              Billing payer update request:
                $ref: '#/components/examples/payer-of-record-update-request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-booking-put-billing-payer'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      x-codegen-request-body-name: body
  '/bookings/{bookingId}/items/{itemId}/travelers':
    put:
      tags:
        - bookings
      summary: Update travelers details
      description: 'Update the travelers information for a booking item: more details on HOW TO use this endpoint [here](docs/how-to/booking/update-travelers.md).'
      operationId: putBookingsUpdateTravelers
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          description: Booking item ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/BookingTraveler'
            examples:
              Without passport details:
                $ref: '#/components/examples/without-passport-details'
              With passport details:
                $ref: '#/components/examples/with-passport-details'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-booking-put-travelers'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      x-codegen-request-body-name: body
  '/bookings/{bookingId}/items/{itemId}/accommodation-preferences':
    put:
      tags:
        - bookings
      summary: Update accommodation preferences
      description: 'Update the accommodation preferences for a booking item: more details on HOW TO use this endpoint [here](docs/how-to/booking/update-accommodation-preferences.md).'
      operationId: putBookingsUpdateAccommodationPreferences
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          description: Booking item ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/AccommodationPreferenceDetails'
            examples:
              Update accommodation preferences values:
                $ref: '#/components/examples/update-accommodation-preferences'
              Undo selected accommodation preferences values:
                $ref: '#/components/examples/update-accommodation-preferences-erase-previous-selection'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Updated accommodation preferences values:
                  $ref: '#/components/examples/response-P2P-booking-put-accommodation-preferences'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      x-codegen-request-body-name: body
  '/bookings/{bookingId}/checkout/prebook':
    post:
      tags:
        - checkout
      summary: Prebook booking items
      description: |
        Prebook booking items, first step of the Checkout flow: more details on HOW TO use this endpoint [here](docs/how-to/booking/prebook.md).
      operationId: postCheckoutPrebook
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
        - name: X-CorrelationId
          in: header
          description: UUID (Universally Unique Identifier) that conforms to Microsoft/DCE standard
          schema:
            type: string
      requestBody:
        description: Contains the id or ids of the booking item(s) you want to prebook
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
            examples:
              Prebook example:
                value:
                  - e0876c90-28d9-4b2d-b338-98dc385ba4d9
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-booking-prebooking'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/bookings/{bookingId}/checkout/pay':
    post:
      tags:
        - checkout
      summary: Process payment information
      description: Not available for our API partners.
      operationId: postCheckoutPay
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-booking-payment'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/bookings/{bookingId}/checkout/hold':
    post:
      tags:
        - checkout
      summary: Hold a booking
      description: |
        Set a booking on hold to guarantee price for a certain duration: more details on HOW TO use this endpoint [here](docs/how-to/booking/hold.md).
      operationId: postCheckoutHold
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-booking-hold'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/bookings/{bookingId}/checkout/confirm':
    post:
      tags:
        - checkout
      summary: Confirm a booking
      description: |-
        Confirm a booking. Note that the tickets are not retrieved at this step. You need to call the [Print query](reference/bookings.oas3.yml/paths/~1bookings~1{bookingId}~1print/post). 

        <!-- theme: info -->

        More details on HOW TO use this endpoint [here](docs/how-to/booking/confirm.md).
      operationId: postCheckoutConfirm
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
        - name: X-CorrelationId
          in: header
          description: UUID (Universally Unique Identifier) that conforms to Microsoft/DCE standard
          schema:
            type: string
        - name: includeAftersaleEligibilities
          in: query
          description: fetch aftersale eligibilities right after confirm
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-booking-confirm-print-async'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/bookings/{bookingId}/print':
    post:
      tags:
        - bookings
      summary: Print a booking
      description: "Print a booking. This is the final and mandatory step no matter the type of product (Point-to-point or Passes) and or the Ticketing method.\r\n\r\nMore details on HOW TO use this endpoint [here](docs/how-to/booking/print.md)."
      operationId: postCheckoutPrint
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
        - name: X-CorrelationId
          in: header
          description: UUID (Universally Unique Identifier) that conforms to Microsoft/DCE standard
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-booking-print'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/bookings/{bookingId}/items/{itemId}':
    delete:
      tags:
        - bookings
      summary: Delete booking item
      description: 'Delete a booking item: more details on HOW TO use this endpoint [here](docs/how-to/booking/create.m).'
      operationId: deleteBookingsDeleteBookingItem
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Empty response body expected
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/bookings/{bookingId}/contact':
    put:
      summary: Update booking contact
      description: 'Update the booking contact information: more details on HOW TO use this endpoint [here](docs/how-to/booking/update-agency.md).'
      operationId: putBookingsUpdateContact
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
            examples:
              Contact example:
                value:
                  title: MR
                  lastName: Gates
                  firstName: Timothy
                  emailAddress: timothy.gates@email.com
                  phoneNumber: '+123456789'
                  phoneCountryCode: '12'
        required: true
        description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-contact-agency-updated'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      deprecated: false
      tags:
        - update-agency-details
  '/bookings/{bookingId}/agency-booking-reference':
    put:
      summary: Update agency booking reference
      description: 'Put a agency booking reference to have the link between partners booking reference and RailAPI booking reference: more details on HOW TO use this endpoint [here](docs/how-to/booking/update-agency.md).'
      operationId: putBookingsUpdateAgencyBookingReference
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: bookingId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agencyBookingReference:
                  type: string
              required:
                - agencyBookingReference
            examples:
              Example:
                value:
                  agencyBookingReference: ClientBookingReference
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-agency-booking-reference'
      tags:
        - update-agency-details
    parameters:
      - schema:
          type: string
        name: bookingId
        in: path
        required: true
  '/bookings/{bookingId}/refunds':
    post:
      tags:
        - refund
      summary: Create refund operation
      description: |
        Create refund operation and compute balance for given booking items: : more details on HOW TO use this endpoint [here](docs/how-to/refund/quote-refund.md).
      operationId: postRefundCreateAfterSalesOperation
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AfterSalesOperationInput'
            examples:
              With one cancellableItem (partial refund):
                $ref: '#/components/examples/with-cancellableitem-partial-refund'
              With several cancellableItems (partial refund):
                $ref: '#/components/examples/with-several-cancellableitem-partial-refund'
              With one leg:
                $ref: '#/components/examples/with-one-leg'
        required: false
        description: Request for refund operations
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AfterSalesOperation'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-refund-quotation'
  '/bookings/{bookingId}/refunds/{refundOperationId}':
    get:
      tags:
        - refund
      summary: Retrieve refund operation
      description: 'qRetrieve a refund operation: more details on HOW TO use this endpoint [here](https://docs.era.raileurope.com/docs/era-api-doc/227a10cd4ed87-quote-a-refund#retrieve-refund-quotation).'
      operationId: getRefundGetAfterSalesOperation
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
        - name: refundOperationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AfterSalesOperation'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-refund-quotation'
  '/bookings/{bookingId}/refunds/{refundOperationId}/confirm':
    post:
      tags:
        - refund
      summary: Confirm refund operation
      description: 'Confirm a quoted refund operation: more details on HOW TO use this endpoint [here](docs/how-to/refund/confirm-refund.md).'
      operationId: postRefundConfirmAfterSalesOperation
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
        - name: refundOperationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AfterSalesOperation'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-refund-confirmation'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              Example:
                value: {}
        description: 'Send `{}` as request body'
  '/bookings/{bookingId}/exchanges/searches':
    post:
      tags:
        - exchange
      summary: Search for exchange offers
      description: 'eSearch for offers replacement to do an exchange on one leg of one item: more details on HOW TO use this endpoint [here](docs/how-to/exchange/exchange-search.md).'
      operationId: postExchangeSearchExchanges
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeOfferSearchInput'
            examples:
              Change of Date (default):
                value:
                  items:
                    - id: '{booking-item-id}'
                      legs:
                        - id: '{the-leg-id-of-the-journey-for-exchange}'
                          departure: '2022-03-02T06:01:00'
                  productFilters: []
              With Route Change (Trenitalia carrier only):
                value:
                  items:
                    - id: '{booking-item-id}'
                      legs:
                        - id: '{the-leg-id-of-the-journey-for-exchange}'
                          departure: '2022-03-02T06:01:00'
                          origin:
                            type: ...
                            code: ...
                          destination:
                            type: ...
                            code: ...
                  productFilters: []
              Change of Date (with productFilters):
                value:
                  items:
                    - id: '{booking-item-id}'
                      legs:
                        - id: '{the-leg-id-of-the-journey-for-exchange}'
                          departure: '2022-03-02T06:01:00'
                  productFilters:
                    - RIT
        required: false
        description: ''
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointToPointOffersSearchResults'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-exchange-search'
  '/bookings/{bookingId}/exchanges/searches/{offersSearchId}':
    get:
      tags:
        - exchange
      summary: Retrieve an exchange offer
      description: 'Retrieves the designated exchange offer: more details on HOW TO use this endpoint [here](https://docs.era.raileurope.com/docs/era-api-doc/5ccfbeab797ea-search-for-exchange-offers#retrieve-exchange-search).'
      operationId: getExchangeGetExchangeOffersByOffersId
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
        - name: offersSearchId
          in: path
          description: Offers ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointToPointOffersSearchResults'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-exchange-search'
  '/bookings/{bookingId}/exchanges':
    post:
      tags:
        - exchange
      summary: Exchange quotation
      description: 'Create and quote an exchange operation, for one leg of one item: more details on HOW TO use this endpoint [here](docs/how-to/exchange/exchange-quotation.md).'
      operationId: exchange-quotation
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteExchangeInput'
            examples:
              Quote legs exchange:
                value:
                  items:
                    - id: '{booking-item-id}'
                      searchId: '{the-search-id-of-exchange-search}'
                      legs:
                        - id: '{the-leg-id-of-the-original-journey}'
                          selectedOfferId: '{offer-to-be-exchanged-to}'
        required: false
        description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AfterSalesOperation'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-exchange-quotation'
  '/bookings/{bookingId}/exchanges/{exchangeOperationId}':
    get:
      tags:
        - exchange
      summary: Retrieve an exchange operation
      description: 'Retrieves the content of an on going exchange operation: more details on HOW TO use this endpoint [here](https://docs.era.raileurope.com/docs/era-api-doc/dfde785558b87-quote-an-exchange#retrieve-exchange-quotation).'
      operationId: getExchangeGetExchangeAfterSalesOperation
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
        - name: exchangeOperationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AfterSalesOperation'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-exchange-quotation'
  '/bookings/{bookingId}/exchanges/{exchangeOperationId}/confirm':
    put:
      tags:
        - exchange
      summary: Exchange confirmation
      description: 'Confirms an exchange operation: more details on HOW TO use this endpoint [here](docs/how-to/exchange/exchange-confirm.md).'
      operationId: putExchangeConfirmExchange
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
        - name: exchangeOperationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AfterSalesOperation'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-exchange-confirmation'
  '/bookings/{bookingId}/items/{itemId}/service-offers':
    post:
      summary: Create a service offer
      description: |
        Create a service offer for OUIGO Spain only (For instance, take an extra bag option for a given leg): more details on HOW TO use this endpoint [here](docs/how-to/booking/update-services.md).
      operationId: postBookingsCreateServiceOffer
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: |-
          The body of this request contains 3 pieces of information:
          * the fareOffer ID(s) of the booking item
          * the service ID of the `EXTRA_BAG` service associated with this booking item
          * the quantity of the bags to be added. This number cannot exceed the maximum number specified in the service

          Please refer to the response of booking creation to find the information required above.
        content:
          application/json:
            schema:
              required:
                - count
                - fareOfferIds
                - serviceId
              type: object
              properties:
                serviceId:
                  type: string
                fareOfferIds:
                  type: array
                  items:
                    type: string
                count:
                  type: number
            examples:
              Example create service offer:
                value:
                  serviceId: c5f83047-6550-414d-801a-21a242899b5e
                  fareOfferIds:
                    - c0e2aeb3-b7ae-44b7-bce9-0f4eeb220abf
                  count: 1
      responses:
        '200':
          description: 'Upon successful operation, there will be a new item under `serviceOffers[]` of the relevant booking items. The item will contain the ID of the `serviceOffer` that can be used in subsequent service offer operations (update or deletion).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-service-offer-add'
      x-codegen-request-body-name: body
      tags:
        - service-offers (OuigoSpain only)
  '/bookings/{bookingId}/items/{itemId}/service-offers/{serviceOfferId}':
    put:
      summary: Update a service offer
      description: 'Update a service offer (For instance, update the number of extra bag for a given leg): more details on HOW TO use this endpoint [here](docs/how-to/booking/update-services.md).'
      operationId: putBookingsUpdateServiceOffer
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          required: true
          schema:
            type: string
        - name: serviceOfferId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - count
                - serviceId
                - fareOfferIds
              type: object
              properties:
                serviceId:
                  type: string
                fareOfferIds:
                  type: array
                  items:
                    type: string
                count:
                  type: number
            examples:
              example-1:
                $ref: '#/components/examples/response-P2P-service-offer-put'
        description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
      tags:
        - service-offers (OuigoSpain only)
    delete:
      summary: Delete a service offer
      description: 'Delete a service offer (For instance, remove the extra bag option for a given leg): more details on HOW TO use this endpoint [here](docs/how-to/booking/update-services.md).'
      operationId: deleteBookingsDeleteServiceOffer
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          required: true
          schema:
            type: string
        - name: serviceOfferId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-service-offer-delete'
            Booking after service offer deletion:
              example:
                id: 07c837c9-2b06-4836-bdcf-42a1e3b9857f
                bookingReference: K462828140
                bookingStatus: CREATED
                bookingItems:
                  - type: point-to-point
                    id: 45e57174-c34b-4974-a283-b217939c420a
                    bookingItemStatus: CREATED
                    offerLocations:
                      - /offers/point-to-point/searches/143a67e5-cfca-4b6a-99db-279836247bc3/offers/2ca0f61d-4296-43de-802b-9d4280d500e5
                    cancelationEligibility:
                      eligible: false
                      partiallyEligible: false
                    expirationDate: '2021-03-05T21:16:25.380175Z'
                    supplierOrder:
                      orderStatus: UNDEFINED
                      voidable: false
                    products:
                      - type: point-to-point
                        code: OUIGOSP_Ouigo+Flex_OUIGOESP_ADULTS_OUIGO Plus
                        label: Ouigo + Flex
                        marketingCarrier: OUIGOESP
                        supplier: SNCF
                        paxType:
                          code: ADULTS
                          label: LocoHub Adults
                        cabinClass:
                          code: OUIGO Plus
                          label: Service Plus
                          comfortCategory:
                            code: COMFORT
                            label: Comfort
                        fare:
                          label: Ouigo + Flex
                          flexibility:
                            code: SEMI_FLEX
                            label: Semi Flex
                            level: 2
                          conditions: |
                            - Priority allocation of XL seat (subject to availability)
                            - 1 handbag and 1 cabin luggage
                            - 1 additional or XL luggage
                            - 1 access to premium entertainment service


                            <p><span style="color: rgb(51,51,51);background-color: rgb(255,255,255);font-size: 14px;font-family: Gotham Rounded;">Refund: Non refundable. </span></p>
                            <p><span style="color: rgb(51,51,51);background-color: rgb(255,255,255);font-size: 14px;font-family: Gotham Rounded;">Exchange: </span>If ticket not used, exchangeable (either for dates or hours) and al least 30 minutes before train departure. Thereafter, no exchange allowed.&nbsp;</p>
                            <p>Passenger must pay the difference in price if any (no refund if new price is cheaper)</p>
                            <p>Please note that 3 extra business days may be needed to process the aftersales through your travel agency&nbsp;</p>
                          shortLabel: Ouigo + Flex
                        includedOptions:
                          - type: point-to-point-option
                            code: OUIGOSP_included_luggage_OUIGOESP
                            marketingCarrier: OUIGOESP
                            supplier: SNCF
                            serviceType: HAND_BAG
                            title: Included Luggage in fare
                            summary: 1 handbag and 1 cabin luggage per passenger
                            description: 'With OUIGO ticket, the traveler can take with him free of charge: 1 hand luggage and 1 cabin luggage per person. Handles and wheels are included in these dimensions. The cabin baggage must be small enough to be stored under the seat.'
                        flexibility:
                          code: SEMI_FLEX
                          label: Semi Flex
                          level: 2
                        refundable: WITH_CONDITION
                        exchangeable: WITH_CONDITION
                        conditions: |
                          - Priority allocation of XL seat (subject to availability)
                          - 1 handbag and 1 cabin luggage
                          - 1 additional or XL luggage
                          - 1 access to premium entertainment service


                          <p><span style="color: rgb(51,51,51);background-color: rgb(255,255,255);font-size: 14px;font-family: Gotham Rounded;">Refund: Non refundable. </span></p>
                          <p><span style="color: rgb(51,51,51);background-color: rgb(255,255,255);font-size: 14px;font-family: Gotham Rounded;">Exchange: </span>If ticket not used, exchangeable (either for dates or hours) and al least 30 minutes before train departure. Thereafter, no exchange allowed.&nbsp;</p>
                          <p>Passenger must pay the difference in price if any (no refund if new price is cheaper)</p>
                          <p>Please note that 3 extra business days may be needed to process the aftersales through your travel agency&nbsp;</p>
                        comfortCategory:
                          code: COMFORT
                          label: Comfort
                      - type: point-to-point-option
                        code: OUIGOSP_included_luggage_OUIGOESP
                        marketingCarrier: OUIGOESP
                        supplier: SNCF
                        serviceType: HAND_BAG
                        title: Included Luggage in fare
                        summary: 1 handbag and 1 cabin luggage per passenger
                        description: 'With OUIGO ticket, the traveler can take with him free of charge: 1 hand luggage and 1 cabin luggage per person. Handles and wheels are included in these dimensions. The cabin baggage must be small enough to be stored under the seat.'
                      - type: point-to-point-option
                        code: OUIGOSP_included_secondluggage_OUIGOESP
                        marketingCarrier: OUIGOESP
                        supplier: SNCF
                        serviceType: INCLUDED_BAG
                        summary: Ouigo+ included second bag
                      - type: point-to-point-option
                        code: OUIGOSP_extra_luggage_OUIGOESP
                        label: Extra Luggage
                        marketingCarrier: OUIGOESP
                        supplier: SNCF
                        serviceType: EXTRA_BAG
                        title: Extra luggage
                        description: '<p><span style="font-weight: bold;">To be purchased if passenger is traveling with a luggage which size is larger than the one included in the purchased ticket</span>, or if traveling with an extra luggage (in addition to those included in the ticket). </p><p>At the station this option is charged EUR 20.</p>'
                    ticketingOptions:
                      - code: ETK
                    ticketingOptionSelected:
                      code: ETK
                    travelerInformationRequired:
                      defaultTravelerInformationRequired:
                        - TITLE
                        - LAST_NAME
                        - FIRST_NAME
                        - FIRST_NAME
                        - LAST_NAME
                      leadTravelerInformationRequired:
                        - EMAIL
                        - PHONE_NUMBER
                    billingPrices:
                      grossAmount:
                        value: 110
                        currency: EUR
                      netAmount:
                        value: 106.7
                        currency: EUR
                    tickets:
                      - fareOffer: c0e2aeb3-b7ae-44b7-bce9-0f4eeb220abf
                        fictive: false
                    prices:
                      billings:
                        - billingPrice:
                            amount:
                              value: 110
                              currency: EUR
                            netAmount:
                              value: 106.7
                              currency: EUR
                          partnerCommission:
                            amount:
                              value: 3.3
                              currency: EUR
                      billing:
                        amount:
                          value: 110
                          currency: EUR
                        netAmount:
                          value: 106.7
                          currency: EUR
                      partnerCommission:
                        amount:
                          value: 3.3
                          currency: EUR
                    legs:
                      - id: 1257356a-68f8-47a4-8e19-2555a624d55c
                        origin:
                          id: tB7EAngBksZz46KMHSVA
                          type: station
                          code: 'ES:madrid_atocha'
                          label: Madrid Puerta De Atocha
                          localLabel: Madrid Puerta De Atocha
                        destination:
                          id: ch7EAngBksZz46KMGxW7
                          type: station
                          code: 'ES:barcelona_sants'
                          label: Barcelona Sants
                          localLabel: Barcelona Sants
                        departure: '2021-04-04T10:05:00'
                        arrival: '2021-04-04T12:50:00'
                        duration: PT2H45M
                        exchangeEligibility:
                          eligible: false
                        segments:
                          - id: 564b2aee-d468-451c-a33a-25c54040236a
                            origin:
                              id: tB7EAngBksZz46KMHSVA
                              type: station
                              code: 'ES:madrid_atocha'
                              label: Madrid Puerta De Atocha
                              localLabel: Madrid Puerta De Atocha
                            destination:
                              id: ch7EAngBksZz46KMGxW7
                              type: station
                              code: 'ES:barcelona_sants'
                              label: Barcelona Sants
                              localLabel: Barcelona Sants
                            departure: '2021-04-04T10:05:00'
                            arrival: '2021-04-04T12:50:00'
                            duration: PT2H45M
                            operatingCarrier: OUIGO ESP
                            vehicle:
                              type: OUIGO ESP
                              reference: '6501'
                            type: train
                            marketingCarrier: OUIGOESP
                            marketingInformation: PAO_OUIGO_ESP
                        comfortCategory:
                          code: COMFORT
                          label: Comfort
                        prices:
                          billings:
                            - billingPrice:
                                amount:
                                  value: 110
                                  currency: EUR
                                netAmount:
                                  value: 106.7
                                  currency: EUR
                              partnerCommission:
                                amount:
                                  value: 3.3
                                  currency: EUR
                          billing:
                            amount:
                              value: 110
                              currency: EUR
                            netAmount:
                              value: 106.7
                              currency: EUR
                          partnerCommission:
                            amount:
                              value: 3.3
                              currency: EUR
                        canceled: false
                    fareOffers:
                      - id: c0e2aeb3-b7ae-44b7-bce9-0f4eeb220abf
                        fares:
                          - productCode: OUIGOSP_Ouigo+Flex_OUIGOESP_ADULTS_OUIGO Plus
                            segments:
                              - 564b2aee-d468-451c-a33a-25c54040236a
                            travelers:
                              - a69fecee-3586-44cf-8fc0-dc83d1f95352
                              - ab781e06-74e8-472d-892f-2aa57a14ba47
                        prices:
                          billings:
                            - billingPrice:
                                amount:
                                  value: 110
                                  currency: EUR
                                netAmount:
                                  value: 106.7
                                  currency: EUR
                              partnerCommission:
                                amount:
                                  value: 3.3
                                  currency: EUR
                          billing:
                            amount:
                              value: 110
                              currency: EUR
                            netAmount:
                              value: 106.7
                              currency: EUR
                          partnerCommission:
                            amount:
                              value: 3.3
                              currency: EUR
                          ticket:
                            billings:
                              - billingPrice:
                                  amount:
                                    value: 110
                                    currency: EUR
                                  netAmount:
                                    value: 106.7
                                    currency: EUR
                                partnerCommission:
                                  amount:
                                    value: 3.3
                                    currency: EUR
                            billing:
                              amount:
                                value: 110
                                currency: EUR
                              netAmount:
                                value: 106.7
                                currency: EUR
                            partnerCommission:
                              amount:
                                value: 3.3
                                currency: EUR
                    services:
                      - id: a7cd754d-0a3a-4d8a-965f-84cb031e07bf
                        type: HAND_BAG
                        unitPrices:
                          billings:
                            - billingPrice:
                                amount:
                                  value: 0
                                  currency: EUR
                                netAmount:
                                  value: 0
                                  currency: EUR
                              partnerCommission:
                                amount:
                                  value: 0
                                  currency: EUR
                          billing:
                            amount:
                              value: 0
                              currency: EUR
                            netAmount:
                              value: 0
                              currency: EUR
                          partnerCommission:
                            amount:
                              value: 0
                              currency: EUR
                        maxAllowedCount: 2
                        included: true
                        segments:
                          - 564b2aee-d468-451c-a33a-25c54040236a
                        productCode: OUIGOSP_included_luggage_OUIGOESP
                        additionalService: true
                      - id: 82976fb7-ad34-4451-80a0-35586aeb5d64
                        type: INCLUDED_BAG
                        unitPrices:
                          billings:
                            - billingPrice:
                                amount:
                                  value: 0
                                  currency: EUR
                                netAmount:
                                  value: 0
                                  currency: EUR
                              partnerCommission:
                                amount:
                                  value: 0
                                  currency: EUR
                          billing:
                            amount:
                              value: 0
                              currency: EUR
                            netAmount:
                              value: 0
                              currency: EUR
                          partnerCommission:
                            amount:
                              value: 0
                              currency: EUR
                        maxAllowedCount: 2
                        included: true
                        segments:
                          - 564b2aee-d468-451c-a33a-25c54040236a
                        productCode: OUIGOSP_included_secondluggage_OUIGOESP
                        additionalService: true
                      - id: c5f83047-6550-414d-801a-21a242899b5e
                        type: EXTRA_BAG
                        label: Extra Luggage
                        unitPrices:
                          billings:
                            - billingPrice:
                                amount:
                                  value: 5
                                  currency: EUR
                                netAmount:
                                  value: 4.85
                                  currency: EUR
                              partnerCommission:
                                amount:
                                  value: 0.15
                                  currency: EUR
                          billing:
                            amount:
                              value: 5
                              currency: EUR
                            netAmount:
                              value: 4.85
                              currency: EUR
                          partnerCommission:
                            amount:
                              value: 0.15
                              currency: EUR
                        maxAllowedCount: 2
                        included: false
                        segments:
                          - 564b2aee-d468-451c-a33a-25c54040236a
                        productCode: OUIGOSP_extra_luggage_OUIGOESP
                        additionalService: true
                    serviceOffers:
                      - id: 79d7448e-824d-454f-8bbe-c2eaf922665f
                        service: a7cd754d-0a3a-4d8a-965f-84cb031e07bf
                        segments:
                          - 564b2aee-d468-451c-a33a-25c54040236a
                        prices:
                          billings:
                            - billingPrice:
                                amount:
                                  value: 0
                                  currency: EUR
                                netAmount:
                                  value: 0
                                  currency: EUR
                              partnerCommission:
                                amount:
                                  value: 0
                                  currency: EUR
                          billing:
                            amount:
                              value: 0
                              currency: EUR
                            netAmount:
                              value: 0
                              currency: EUR
                          partnerCommission:
                            amount:
                              value: 0
                              currency: EUR
                        count: 2
                        travelers:
                          - a69fecee-3586-44cf-8fc0-dc83d1f95352
                          - ab781e06-74e8-472d-892f-2aa57a14ba47
                      - id: 4dbce297-3bea-43ef-aba3-6113c7fd4d75
                        service: 82976fb7-ad34-4451-80a0-35586aeb5d64
                        segments:
                          - 564b2aee-d468-451c-a33a-25c54040236a
                        prices:
                          billings:
                            - billingPrice:
                                amount:
                                  value: 0
                                  currency: EUR
                                netAmount:
                                  value: 0
                                  currency: EUR
                              partnerCommission:
                                amount:
                                  value: 0
                                  currency: EUR
                          billing:
                            amount:
                              value: 0
                              currency: EUR
                            netAmount:
                              value: 0
                              currency: EUR
                          partnerCommission:
                            amount:
                              value: 0
                              currency: EUR
                        count: 2
                        travelers:
                          - a69fecee-3586-44cf-8fc0-dc83d1f95352
                          - ab781e06-74e8-472d-892f-2aa57a14ba47
                    travelers:
                      - id: a69fecee-3586-44cf-8fc0-dc83d1f95352
                        type: ADULT
                        age: 30
                        leadTraveler: false
                        canceled: false
                      - id: ab781e06-74e8-472d-892f-2aa57a14ba47
                        type: ADULT
                        age: 30
                        leadTraveler: false
                        canceled: false
                    active: true
                billings:
                  - address:
                      address1: 34 Rue du Pré Gauchet
                      address2: VSC
                      zipCode: '44000'
                      city: Nantes
                      country: France
                      countryCode: FR
                contact:
                  title: MS
                  firstName: Valerie
                  lastName: Verdun
                  emailAddress: vverdun@raileurope.com
                creationDate: '2021-03-05T17:16:31Z'
                lastStatusModificationTime: '2021-03-05T17:16:31Z'
                lastStatusModifiedBy: vverdun
                pointOfSale:
                  code: KA-123456-INTERNAL-TEST
                  profile:
                    salesChannel: Key Account
                    zone: EMEA
                    country: SENEGAL
                    city: DAKAR
                    authorizedProducts:
                      suppliers:
                        - RENFE
                        - SJ
                        - SBB
                        - SNCF
                        - TRENITALIA
                        - NTV
                        - DBAHN
                        - EURAIL
                      marketingCarriers:
                        - LYRIA
                        - TGV
                        - TER
                        - INTERCITES
                        - EUROSTAR
                        - THALYS
                        - DBAHN
                        - DBSNCF
                        - STS
                        - SBB
                        - THELLO
                        - TRENITALIA
                        - EURAIL
                        - INTERRAIL
                        - OUIGOESP
                    payment:
                      authorizedPaymentMethods:
                        - ALLOWANCE
                    agency:
                      name: Internal Key Account Test
                      code: '556688'
                      email: era.556688@yopmail.com
                      primary: true
                      phoneNumber: 33251589416
                      phoneCountryCode: 33
                      billingAddress:
                        addressLine1: 34 Rue du Pré Gauchet
                        addressLine2: VSC
                        countryCode: FR
                        country: France
                        zipCode: '44000'
                        city: Nantes
                    keyAccount:
                      code: '556688'
                      name: Internal Key Account Test
                      email: era.556688@yopmail.com
                    timezone: Africa/Dakar
                    defaultPriceToDisplay: selling
                    billingMethod: gross
                  entity: RESAS
                prices:
                  billings:
                    - billingPrice:
                        amount:
                          value: 110
                          currency: EUR
                        netAmount:
                          value: 106.7
                          currency: EUR
                      partnerCommission:
                        amount:
                          value: 3.3
                          currency: EUR
                  billing:
                    amount:
                      value: 110
                      currency: EUR
                    netAmount:
                      value: 106.7
                      currency: EUR
                  partnerCommission:
                    amount:
                      value: 3.3
                      currency: EUR
                  fees:
                    items:
                      - label: Booking fee
                        price:
                          billings:
                            - billingPrice:
                                amount:
                                  value: 4.95
                                  currency: EUR
                                netAmount:
                                  value: 4.95
                                  currency: EUR
                              partnerCommission:
                                amount:
                                  value: 0
                                  currency: EUR
                          billing:
                            amount:
                              value: 4.95
                              currency: EUR
                            netAmount:
                              value: 4.95
                              currency: EUR
                          partnerCommission:
                            amount:
                              value: 0
                              currency: EUR
                        product:
                          code: flat-booking-fee
                          label: Booking fee
                          family: fees
                          categories:
                            - 'fee:booking'
                          applicability:
                            origin: distributor
                            event: booking
                            level: global
                          method: flat
                  total:
                    billingsGross:
                      - value: 114.95
                        currency: EUR
                    billingsNet:
                      - value: 111.65
                        currency: EUR
                statusChanges:
                  - pointOfSale: KA-123456-INTERNAL-TEST
                    modifiedBy: vverdun
                    date: '2021-03-05T17:16:31.198581Z'
                    status: CREATED
                expirationDate: '2021-03-05T18:16:31Z'
                holdDistributorTTLDate: '2021-03-05T21:16:25.380175Z'
                billingPrices:
                  grossAmount:
                    value: 110
                    currency: EUR
                  netAmount:
                    value: 106.7
                    currency: EUR
                overviewStatus: BOOKING_SETUP
      tags:
        - service-offers (OuigoSpain only)
  '/bookings/{bookingId}/items/{itemId}/travelers-editions':
    parameters:
      - schema:
          type: string
        name: bookingId
        in: path
        required: true
      - schema:
          type: string
        name: itemId
        in: path
        required: true
    post:
      summary: Edit travelers
      operationId: edit-travelers
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AfterSalesOperation'
              examples:
                Example 1:
                  $ref: '#/components/examples/responses-P2P-travelers-edition'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditTravelersInput'
            examples:
              Edit travelers input example:
                value:
                  editedTravelers:
                    - travelerId: '12345'
                      firstName: John
                      lastName: Doe
        description: ''
      description: |
        > For now, this endpoint is limited to Italian Companies on Trenitalia journeys.
        Edit travelers information on a booking item, after booking confirmation: more details on HOW TO use this endpoint [here](docs/how-to/edit-travelers/edit-travelers.md).
      parameters:
        - schema:
            type: string
          in: header
          name: X-Point-Of-Sale
          description: point of sale code
          required: true
      tags:
        - edit-travelers (TI only)
  '/bookings/{bookingId}/billing/documents/search-profile':
    parameters:
      - schema:
          type: string
        name: bookingId
        in: path
        required: true
    post:
      summary: Search billing documents profile
      operationId: post-booking-bookingId-billing-documents-search-profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingDocumentsProfile'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-billing-search-profile'
      description: |-
        > For now, this endpoint is limited to Italian Companies on Trenitalia journeys.
        Search a billing profile with a VAT number before claiming billing documents: more details on HOW TO use this endpoint [here](docs/how-to/booking/billing-documents.md).
      parameters:
        - schema:
            type: string
          in: query
          name: vatNumber
          required: true
      tags:
        - billing-documents (TI only)
  '/bookings/{bookingId}/billing/documents/claim':
    parameters:
      - schema:
          type: string
        name: bookingId
        in: path
        required: true
    post:
      summary: Claim billing documents
      operationId: post-bookings-bookingId-billing-documents-claim
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                Example 1:
                  $ref: '#/components/examples/response-P2P-billing-claim-document'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimBillingDocumentsRequest'
        description: ''
      description: ">For now, this endpoint is limited to Italian Companies on Trenitalia journeys).\r\nClaims billing documents with either VAT code (for companies) or TAX code (for individuals): more details on HOW TO use this endpoint [here](docs/how-to/booking/billing-documents.md\r\n"
      tags:
        - billing-documents (TI only)
  '/bookings/{bookingId}/items/{itemId}/check-in-travelers':
    put:
      tags:
        - bookings
      summary: Check in travelers
      description: 'Check in travelers inside a booking item: more details on HOW TO use this endpoint [here](docs/how-to/booking/check-in-travelers.md).'
      operationId: putBookingsCheckInTravelers
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          description: Booking item ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/CheckInTraveler'
            examples:
              Check in with passport details:
                $ref: '#/components/examples/check-in-with-passport-details'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      x-codegen-request-body-name: body
  '/bookings/{bookingId}/items/{itemId}/alerts/{alertId}':
    put:
      tags:
        - bookings
      summary: Notify alert
      description: 'Mark an alert as notified: more details on HOW TO use this endpoint [here](https://docs.era.raileurope.com/docs/era-api-doc/c8619a0034403-retrieve-bookings-optional#alert-notification).'
      operationId: putNotifyAlert
      parameters:
        - $ref: '#/components/parameters/PointOfSale_2'
        - name: bookingId
          in: path
          description: Booking ID
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          description: Booking item ID
          required: true
          schema:
            type: string
        - name: alertId
          in: path
          description: Alert ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    AbstractBookingItem:
      title: AbstractBookingItem
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_Resource'
        - type: object
          properties:
            bookingItemStatus:
              $ref: '#/components/schemas/BookingItemStatus'
            offerLocations:
              maxItems: 2
              minItems: 1
              type: array
              items:
                pattern: ^/offers/.*/searches/.*/offers/.*$
                type: string
            cancelationEligibility:
              $ref: '#/components/schemas/BookingItemCancellationEligibility'
            expirationDate:
              type: string
              format: date-time
            supplierOrder:
              $ref: '#/components/schemas/SupplierOrder'
            ticketingOptions:
              type: array
              items:
                $ref: '#/components/schemas/Era-common_Oas3_TicketingOption'
            type:
              type: string
            valueDocuments:
              type: array
              items:
                $ref: '#/components/schemas/ValueDocument'
            travelers:
              type: array
              items:
                $ref: '#/components/schemas/BookingTraveler'
            ticketingOptionSelected:
              $ref: '#/components/schemas/Era-common_Oas3_TicketingOption'
            travelerInformationRequired:
              $ref: '#/components/schemas/TravelerInformationRequired'
            tickets:
              type: array
              items:
                $ref: '#/components/schemas/Ticket'
            prices:
              $ref: '#/components/schemas/Era-common_Oas3_Prices'
            itemExchangedFrom:
              type: string
    Address:
      title: Address
      type: object
      properties:
        address1:
          minLength: 0
          type: string
        address2:
          type: string
        city:
          type: string
        country:
          type: string
        countryCode:
          type: string
        state:
          type: string
        zipCode:
          type: string
        stateCode:
          type: string
    AbstractOperationSalesItem:
      title: AbstractOperationSalesItem
      allOf:
        - type: object
          properties:
            id:
              type: string
            penaltyPrices:
              allOf:
                - description: The carrier penalty apply to the after-sales
                - $ref: '#/components/schemas/Era-common_Oas3_Prices'
            reversedPrices:
              allOf:
                - description: Original item price minus penalty price
                - $ref: '#/components/schemas/Era-common_Oas3_Prices'
            balancePrices:
              allOf:
                - description: reversedPrices minus price of the new item (in case of an exchange)
                - $ref: '#/components/schemas/Era-common_Oas3_Prices'
            searchId:
              type: string
    AfterSalesItem:
      title: AfterSalesItem
      description: operationType = "after-sales-item"
      allOf:
        - $ref: '#/components/schemas/AbstractOperationSalesItem'
        - type: object
          properties:
            operationType:
              type: string
              readOnly: true
              default: after-sales-item
            legs:
              type: array
              items:
                $ref: '#/components/schemas/AfterSalesLeg'
            editedTravelers:
              type: array
              items:
                $ref: '#/components/schemas/EditedTraveler'
            delayed:
              type: boolean
              description: True if a refund is delayed
            delayExpirationTime:
              type: string
              format: date-time
              description: Valued if the refund is delayed with a delay expiry date
            cancellableItems:
              type: array
              items:
                $ref: '#/components/schemas/CancellableItem'
            valueDocumentIds:
              type: array
              description: Identifiers of the new value documents created during the after-sales operation.
              items:
                x-stoplight:
                  id: o3h5o4nekk2q5
                type: string
            fraudDetected:
              type: boolean
    AfterSalesItemInput:
      title: AfterSalesItemInput
      type: object
      properties:
        id:
          type: string
        legs:
          type: array
          items:
            title: AfterSalesLeg
            type: object
            properties:
              id:
                type: string
        cancellableItems:
          type: array
          items:
            $ref: '#/components/schemas/CancellableItem'
    AfterSalesOperationInput:
      title: AfterSalesOperationInput
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AfterSalesItemInput'
        type:
          $ref: '#/components/schemas/AbstractOperationType'
    AbstractOperation:
      title: AbstractOperation
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_Resource'
        - type: object
          properties:
            operationDateTime:
              type: string
              format: date-time
            pointOfSale:
              $ref: '#/components/schemas/PointOfSale'
            status:
              $ref: '#/components/schemas/AbstractOperationStatus'
            type:
              $ref: '#/components/schemas/AbstractOperationType'
            expirationDate:
              type: string
              x-stoplight:
                id: ywyv7hilhq4jl
              format: date-time
    AfterSalesOperation:
      title: AfterSalesOperation
      description: operationType = "after-sales-operation"
      allOf:
        - $ref: '#/components/schemas/AbstractOperation'
        - type: object
          properties:
            operationType:
              type: string
              readOnly: true
              default: after-sales-operation
            balancePrices:
              $ref: '#/components/schemas/AfterSalesBalancePrices'
            items:
              type: array
              items:
                $ref: '#/components/schemas/AfterSalesItem'
            refundType:
              $ref: '#/components/schemas/RefundType'
      x-examples:
        Refund quoted:
          id: dbed6921-48dd-4dad-9f7d-97ba187ac9b6
          type: REFUND
          status: QUOTED
          items:
            - id: c1bbce12-4513-4f7a-a20a-c87902922848
              travelers:
                - traveler-1
              penalty:
                value: 0
                currency: EUR
              balance:
                value: 326
                currency: EUR
              creditedAmount:
                value: 326
                currency: EUR
              balancePrices:
                billings:
                  - partnerCommission:
                      amount:
                        value: 9.78
                        currency: EUR
                sellings:
                  - partnerCommission:
                      amount:
                        value: 9.78
                        currency: EUR
                billing:
                  amount:
                    value: 326
                    currency: EUR
                  netAmount:
                    value: 298.29
                    currency: EUR
                partnerCommission:
                  amount:
                    value: 9.78
                    currency: EUR
              partnerCommission:
                value: 9.78
                currency: EUR
            - id: d65a73cd-5cd5-4f63-850b-d0806da3cab8
              penalty:
                value: 0
                currency: EUR
              balance:
                value: 66
                currency: EUR
              creditedAmount:
                value: 66
                currency: EUR
              balancePrices:
                billings:
                  - partnerCommission:
                      amount:
                        value: 1.32
                        currency: EUR
                sellings:
                  - partnerCommission:
                      amount:
                        value: 1.32
                        currency: EUR
                billing:
                  amount:
                    value: 66
                    currency: EUR
                  netAmount:
                    value: 62.7
                    currency: EUR
                partnerCommission:
                  amount:
                    value: 1.32
                    currency: EUR
              partnerCommission:
                value: 1.32
                currency: EUR
          balance:
            value: 392
            currency: EUR
          creditedAmount:
            value: 392
            currency: EUR
          creditedAmounts:
            - value: 392
              currency: EUR
          balancePrices:
            billings:
              - partnerCommission:
                  amount:
                    value: 11.1
                    currency: EUR
            sellings:
              - partnerCommission:
                  amount:
                    value: 11.1
                    currency: EUR
            billing:
              amount:
                value: 392
                currency: EUR
              netAmount:
                value: 360.99
                currency: EUR
            partnerCommission:
              amount:
                value: 11.1
                currency: EUR
          pointOfSale:
            code: TEST-AGENCY-WITH-MARKUP
            profile:
              salesChannel: Key Account
              zone: GREATER_CHINA
              country: JAPAN
              city: TOKYO
              authorizedProducts:
                suppliers:
                  - RENFE
                  - SJ
                  - SBB
                  - SNCF
                  - TRENITALIA
                marketingCarriers:
                  - LYRIA
                  - TGV
                  - TGVINOUI
                  - TER
                  - INTERCITES
                  - EUROSTAR
                  - THALYS
              payment:
                authorizedPaymentMethods:
                  - ALLOWANCE
              agency:
                name: TEST-AGENCY-WITH-MARKUP
                code: 556688h
                email: era.user@yopmail.com
                primary: false
              keyAccount:
                code: '556688'
                name: Internal Key Account Test
                email: era.user@yopmail.com
              timezone: Asia/Tokyo
              billingMethod: gross
            entity: RESAS
          operationDateTime: '2019-09-19T14:30:41Z'
        Refund confirmed:
          id: dbed6921-48dd-4dad-9f7d-97ba187ac9b5
          type: REFUND
          status: CONFIRMED
          items:
            - id: c1bbce12-4513-4f7a-a20a-c87902922849
              penalty:
                value: 0
                currency: EUR
              balance:
                value: 326
                currency: EUR
              creditedAmount:
                value: 326
                currency: EUR
              balancePrices:
                billings:
                  - partnerCommission:
                      amount:
                        value: 9.78
                        currency: EUR
                sellings:
                  - partnerCommission:
                      amount:
                        value: 9.78
                        currency: EUR
                billing:
                  amount:
                    value: 326
                    currency: EUR
                  netAmount:
                    value: 298.29
                    currency: EUR
                partnerCommission:
                  amount:
                    value: 9.78
                    currency: EUR
              partnerCommission:
                value: 9.78
                currency: EUR
            - id: d65a73cd-5cd5-4f63-850b-d0806da3cab9
              penalty:
                value: 0
                currency: EUR
              balance:
                value: 66
                currency: EUR
              creditedAmount:
                value: 66
                currency: EUR
              balancePrices:
                billings:
                  - partnerCommission:
                      amount:
                        value: 1.32
                        currency: EUR
                sellings:
                  - partnerCommission:
                      amount:
                        value: 1.32
                        currency: EUR
                billing:
                  amount:
                    value: 66
                    currency: EUR
                  netAmount:
                    value: 62.7
                    currency: EUR
                partnerCommission:
                  amount:
                    value: 1.32
                    currency: EUR
              partnerCommission:
                value: 1.32
                currency: EUR
          totalAmount:
            value: 392
            currency: EUR
          balance:
            value: 392
            currency: EUR
          creditedAmount:
            value: 392
            currency: EUR
          creditedAmounts:
            - value: 392
              currency: EUR
          balancePrices:
            billings:
              - partnerCommission:
                  amount:
                    value: 11.1
                    currency: EUR
            sellings:
              - partnerCommission:
                  amount:
                    value: 11.1
                    currency: EUR
            billing:
              amount:
                value: 392
                currency: EUR
              netAmount:
                value: 360.99
                currency: EUR
            partnerCommission:
              amount:
                value: 11.1
                currency: EUR
          pointOfSale:
            code: TEST-AGENCY-WITH-MARKUP
            profile:
              salesChannel: Key Account
              zone: GREATER_CHINA
              country: JAPAN
              city: TOKYO
              authorizedProducts:
                suppliers:
                  - RENFE
                  - SJ
                  - SBB
                  - SNCF
                  - TRENITALIA
                marketingCarriers:
                  - LYRIA
                  - TGV
                  - TGVINOUI
                  - TER
                  - INTERCITES
                  - EUROSTAR
                  - THALYS
              payment:
                authorizedPaymentMethods:
                  - ALLOWANCE
              agency:
                name: TEST-AGENCY-WITH-MARKUP
                code: 556688h
                email: era.user@yopmail.com
                primary: false
              keyAccount:
                code: '556688'
                name: Internal Key Account Test
                email: era.user@yopmail.com
              timezone: Asia/Tokyo
              billingMethod: gross
            entity: RESAS
          operationDateTime: '2019-09-19T14:30:41Z'
    AgencyBilling:
      title: AgencyBilling
      required:
        - agencyName
        - emailAddress
        - phoneNumber
      type: object
      properties:
        agencyName:
          type: string
        emailAddress:
          maxLength: 254
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9._%+-]{0,63}@(?:[a-zA-Z0-9][a-zA-Z0-9-]{0,62}\.)+[a-zA-Z]{2,63}$'
          type: string
          format: email
        phoneNumber:
          maxLength: 25
          type: string
        phoneCountryCode:
          maxLength: 7
          type: string
    Attachment:
      title: Attachment
      type: object
      properties:
        name:
          type: string
        publicUrl:
          type: string
        readOnly:
          type: boolean
        size:
          type: integer
          format: int64
    Booking:
      title: Booking
      allOf:
        - type: object
          properties:
            afterSalesOperations:
              type: array
              items:
                $ref: '#/components/schemas/AfterSalesOperation'
            agencyBookingReference:
              type: string
            billings:
              type: array
              items:
                $ref: '#/components/schemas/Billing'
            payerOfRecordInformationRequired:
              $ref: '#/components/schemas/PayerOfRecordInformationRequired'
            bookingItems:
              type: array
              description: PLEASE NOTE THAT YOU CAN SELECT EITHER TYPE = "POINT-TO-POINT" EITHER "PASS" AT THIS STAGE
              items:
                oneOf:
                  - $ref: '#/components/schemas/PointToPointBookingItem'
                  - $ref: '#/components/schemas/PassBookingItem'
            bookingReference:
              type: string
            bookingStatus:
              $ref: '#/components/schemas/BookingStatus'
            contact:
              $ref: '#/components/schemas/Contact'
            creationDate:
              type: string
              format: date-time
            emails:
              type: array
              items:
                $ref: '#/components/schemas/Email'
            expirationDate:
              type: string
              format: date-time
            holdDistributorTTLDate:
              type: string
              format: date-time
            lastStatusModificationTime:
              type: string
              format: date-time
            lastStatusModifiedBy:
              type: string
            overviewStatus:
              $ref: '#/components/schemas/OverviewStatus'
            payments:
              type: array
              items:
                $ref: '#/components/schemas/Payment'
            pointOfSale:
              $ref: '#/components/schemas/PointOfSale'
            statusChanges:
              type: array
              items:
                $ref: '#/components/schemas/BookingStatusChange'
            prices:
              $ref: '#/components/schemas/BookingPrices'
            invoicedPrices:
              $ref: '#/components/schemas/BookingPrices'
            billingDocumentsEligibility:
              type: boolean
            billingDocuments:
              $ref: '#/components/schemas/BillingDocuments'
        - $ref: '#/components/schemas/Era-common_Oas3_Resource'
      x-examples:
        Created:
          id: 632a2441-1888-4418-b05e-8105bf4b3ee2
          bookingReference: K018501020
          bookingStatus: CREATED
          bookingItems:
            - type: pass
              id: c1bbce12-4513-4f7a-a20a-c87902922850
              bookingItemStatus: CREATED
              offerLocations:
                - /offers/passes/searches/e7aeab93-b672-4b51-8c1e-ed678dba28fb/offers/pass-offer-1
              amount:
                value: 326
                currency: EUR
              expirationDate: '2019-09-19T16:48:07+02:00'
              prices:
                billings:
                  - partnerCommission:
                      amount:
                        value: 9.78
                        currency: EUR
                sellings:
                  - partnerCommission:
                      amount:
                        value: 9.78
                        currency: EUR
                billing:
                  amount:
                    value: 326
                    currency: EUR
                  netAmount:
                    value: 298.29
                    currency: EUR
                partnerCommission:
                  amount:
                    value: 9.78
                    currency: EUR
              travelerInformationRequired:
                defaultTravelerInformationRequired:
                  - TITLE
                  - FIRST_NAME
                  - LAST_NAME
                  - DATE_OF_BIRTH
                  - COUNTRY_OF_RESIDENCE
                  - PASSPORT
                leadTravelerInformationRequired:
                  - EMAIL
                  - PHONE_NUMBER
              productAssignments:
                - id: 4acfe6a0-3642-4478-94ad-cf5abb6557a5
                  travelerId: traveler-1
                  amount:
                    value: 326
                    currency: EUR
                  productCode: STP3
              products:
                - code: STP3
                  label: Swiss Travel Pass
                  family: PASS_STS_ERA
                  familyLabel: PASS_STS
                  fare:
                    validityDuration: P3D
                  immediatePayment: false
                  supplier: SBB
              validityDuration: P3D
              validityPeriod:
                startDate: '2020-01-01'
                endDate: '2020-01-03'
              travelClass:
                code: '1'
                comfortCategory:
                  code: COMFORT
                  label: Comfort
              conditions:
                - condition: |
                    <p>Swiss Travel Pass includes :</p>
                    <ul>
                    <li>Unlimited travel on train, bus and boat</li>
                    <li>Unlimited travel on premium panorama trains: Glacier Express, Bernina Express, Golden Pass MOB, Gothard Panorama Express and Luzern Interlaken Express (seat reservations extra).</li>
                    <li>Unlimited travel on 90 city transit systems</li>
                    <li>Free admission to more than 500 museums (<a href="http://www.museumspass.ch" target="_blank">www.museumspass.ch</a> )</li>
                    <li>Mountain excursion included: Rigi, Schilthorn, Stanserhorn, Stoos</li>
                    <li>Free Swiss Family Card: Children age 6 to 15 accompanied by a parent or legal guardian, travel free with the Swiss Family Card.</li>
                    <li>Children under 6 years accompanied by a holder of a valid Swiss Travel System pass travel free of charge.</li>
                    </ul>
                  type: GLOBAL_INTRODUCTION_DETAILS
                - condition: |
                    <p>Enjoy unlimited travel throughout Switzerland by train, bus and boat, plus free public transportation in over 90 main cities.</p>
                  type: GLOBAL_INTRODUCTION
                - condition: '<ul><li>Consecutive <span style="font-weight: bold;">travel</span></li><li>Choose to travel on consecutive days for<span style="font-weight: bold;"> 3, 4, 8 or 15 </span>days.</li></ul>'
                  type: GLOBAL_DESCRIPTION
                - condition: |
                    <ul>
                    <li>Unlimited travel on train, bus and boat</li>
                    <li>Unlimited travel on premium panorama trains: Glacier Express, Bernina Express, Golden Pass MOB, Gothard Panorama Express and Luzern Interlaken Express (seat reservations cost extra).</li>
                    <li>Unlimited use of public transit in more than 90 towns and cities.</li>
                    <li>Free admission to more than 500 museums (<a href="http://www.museumspass.ch" target="_blank">www.museumspass.ch</a> )</li>
                    <li>Mountain excursion included: Rigi, Schilthorn, Stanserhorn, and Stoos</li>
                    </ul>
                  type: INCLUDES
                - condition: |
                    <ul>
                    <li>Up to 50% discount on mountain railways and cable cars (25% on Jungfraujoch).</li>
                    <li>Passholder fares on Lyria</li>
                    <li>Passholder fares on NightJet routes including Switzerland</li>
                    </ul>
                    <p>Bonuses are subject to change and may require use of a travel day.</p>
                    <p>Travelers should confirm bonuses locally.</p>
                  type: BONUSES
                - condition: |
                    Swiss Travel Pass valid for 3 consecutive days. Validity ends at 5:00 AM on the day following the last day.
                  type: PASS_SALES
                - condition: |
                    <p>Available for adult and youth travelers in first and second class.<br>Valid for residents outside of Switzerland and Liechtenstein.<br>Passes are prevalidated at time of purchase and can be purchased 6 months in advance.</p>
                    <p></p>
                  type: PASS_RANGE_SALES
                - condition: |
[...]
