openapi: 3.0.1
info:
  title: Point to point offers
  description: Offers Point to point API.
  contact:
    url: 'https://rail-europe.stoplight.io/'
  version: '1.0'
servers:
  - url: 'https://api-sandbox.era.raileurope.com'
security:
  - bearerAuth: []
tags:
  - name: search-offers-point-to-point
    description: Search Point to Point Offers API
  - name: retrieve-additional-offers-point-to-point
    description: Retrieve Additional Point to Point Offers API
paths:
  /offers/point-to-point/searches:
    post:
      tags:
        - offers-point-to-point
      summary: Search for point-to-point offers
      description: |-
        Search for point-to-point offers: more details on HOW TO use this endpoint [here](docs/how-to/search/search-offers.md) AND [here](docs/how-to/search/display-offers.md).

        If you encounter errors in the response, here are a few things to look out for:
        * Make sure your request header and request body are valid. This includes using [valid place codes](docs/how-to/initialization/place.md) for departure and arrival.
        * Check the supplier [health status](reference/health.oas3.yml/paths/~1health~1suppliers/get) to see if it is available.
      operationId: postOffersPointToPointSearch
      parameters:
        - $ref: '#/components/parameters/PointOfSale'
      requestBody:
        content:
          application/json:
            schema:
              title: PointToPointOffersSearchRequest
              type: object
              properties:
                legs:
                  minItems: 1
                  type: array
                  items:
                    $ref: '#/components/schemas/LegRequest'
                travelers:
                  minItems: 1
                  type: array
                  items:
                    $ref: '#/components/schemas/TravelerRequest'
                productFilters:
                  type: array
                  description: 'Possible values: RIT'
                  items:
                    type: string
                multiProviderEnabled:
                  type: boolean
                  x-stoplight:
                    id: 1u6byadxy5lxu
                  description: 'When set to true, the API response might include different rail operators, depending on the segment of your trip. Default value is false.'
                seatReservationOnly:
                  type: boolean
                  description: 'When set to true, the API response will include only offers containing seat reservations only (no travel ticket). Note that the seat reservation is not enough to be allowed to travel, one must also possess a travel ticket (that can be bought separately from the seat reservation). This feature is typically available for DBahn offers.'
              required:
                - legs
                - travelers
            examples:
              Search for one way offers:
                $ref: '#/components/examples/search-request-for-one-way-offers'
              Search for roundtrip offers:
                $ref: '#/components/examples/search-request-for-roundtrip-offers'
              Search for one way offers with passholder fare:
                $ref: '#/components/examples/search-request-for-one-way-offers-passholder-fare'
              Search for one way offers with RIT product filters:
                $ref: '#/components/examples/search-request-for-one-way-offers-with-rit-products-filters'
              Search for multiproviers one-way offers:
                $ref: '#/components/examples/search-request-for-multiproviders-one-way-offers'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Era-common_Oas3_Resource'
                  - type: object
                    properties:
                      pointOfSale:
                        type: string
                      legs:
                        minItems: 1
                        type: array
                        items:
                          $ref: '#/components/schemas/Leg'
                      travelers:
                        maxItems: 9
                        minItems: 1
                        type: array
                        items:
                          $ref: '#/components/schemas/Traveler'
                      offers:
                        type: array
                        items:
                          $ref: '#/components/schemas/PointToPointOffer'
                      products:
                        type: array
                        items:
                          oneOf:
                            - $ref: '#/components/schemas/PointToPointProduct'
                            - $ref: '#/components/schemas/PointToPointReservationProduct'
                      services:
                        type: array
                        items:
                          $ref: '#/components/schemas/Service'
                      highlights:
                        type: array
                        items:
                          $ref: '#/components/schemas/LegSolutionHighlight'
                      multiProviderEnabled:
                        type: boolean
                        x-stoplight:
                          id: j6d98jdz40jdn
                        description: 'When set to true, the API response might include different rail operators, depending on the segment of your trip. Default value is false.'
              examples:
                Response one-way offers:
                  $ref: '#/components/examples/search-response-for-one-way-offers'
                Response roundtrip offers:
                  $ref: '#/components/examples/search-response-for-roundtrip-offers'
                Response multiproviers one-way offers:
                  $ref: '#/components/examples/search-response-for-multiproviders-one-way-offers'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  '/offers/point-to-point/searches/{searchId}':
    parameters:
      - schema:
          type: string
        name: searchId
        in: path
        required: true
    post:
      tags:
        - additional-offers-point-to-point
      summary: Retrieve additional point-to-point offers search results
      description: 'Retrieve additional points-to-point offers from a previous search: more details on HOW TO use this endpoint [here](docs/how-to/search/display-offers.md).'
      operationId: searchAdditionalOffers
      parameters:
        - $ref: '#/components/parameters/PointOfSale'
        - name: searchId
          in: path
          description: Search ID
          required: true
          schema:
            type: string
        - schema:
            type: string
            enum:
              - next
              - previous
          in: query
          description: next for later trains. previous for earlier trains
          required: true
          name: page
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Era-common_Oas3_Resource'
                  - type: object
                    properties:
                      pointOfSale:
                        type: string
                      legs:
                        minItems: 1
                        type: array
                        items:
                          $ref: '#/components/schemas/Leg'
                      travelers:
                        maxItems: 9
                        minItems: 1
                        type: array
                        items:
                          $ref: '#/components/schemas/Traveler'
                      offers:
                        type: array
                        items:
                          $ref: '#/components/schemas/PointToPointOffer'
                      products:
                        type: array
                        items:
                          oneOf:
                            - $ref: '#/components/schemas/PointToPointProduct'
                            - $ref: '#/components/schemas/PointToPointReservationProduct'
                      services:
                        type: array
                        items:
                          $ref: '#/components/schemas/Service'
                      highlights:
                        type: array
                        items:
                          $ref: '#/components/schemas/LegSolutionHighlight'
                      multiProviderEnabled:
                        type: boolean
                        x-stoplight:
                          id: j7ksek4u74uz5
                        description: 'When set to true, the API response might include different rail operators, depending on the segment of your trip. Default value is false.'
              examples:
                Response one-way offers:
                  $ref: '#/components/examples/search-response-for-one-way-offers'
                Response roundtrip offers:
                  $ref: '#/components/examples/search-response-for-roundtrip-offers'
                Response multiproviers one-way offers:
                  $ref: '#/components/examples/search-response-for-multiproviders-one-way-offers'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    get:
      tags:
        - offers-point-to-point
      summary: Retrieve point-to-point offers search results
      description: 'Retrieve points-to-point offers from a previous search: more details on HOW TO use this endpoint [here](docs/how-to/search/display-offers.md).'
      operationId: getOffersPointToPointSearchById
      parameters:
        - $ref: '#/components/parameters/PointOfSale'
        - name: searchId
          in: path
          description: Search ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Era-common_Oas3_Resource'
                  - type: object
                    properties:
                      pointOfSale:
                        type: string
                      legs:
                        minItems: 1
                        type: array
                        items:
                          $ref: '#/components/schemas/Leg'
                      travelers:
                        maxItems: 9
                        minItems: 1
                        type: array
                        items:
                          $ref: '#/components/schemas/Traveler'
                      offers:
                        type: array
                        items:
                          $ref: '#/components/schemas/PointToPointOffer'
                      products:
                        type: array
                        items:
                          oneOf:
                            - $ref: '#/components/schemas/PointToPointProduct'
                            - $ref: '#/components/schemas/PointToPointReservationProduct'
                      services:
                        type: array
                        items:
                          $ref: '#/components/schemas/Service'
                      highlights:
                        type: array
                        items:
                          $ref: '#/components/schemas/LegSolutionHighlight'
                      multiProviderEnabled:
                        type: boolean
                        x-stoplight:
                          id: j7ksek4u74uz5
                        description: 'When set to true, the API response might include different rail operators, depending on the segment of your trip. Default value is false.'
              examples:
                Response one-way offers:
                  $ref: '#/components/examples/search-response-for-one-way-offers'
                Response roundtrip offers:
                  $ref: '#/components/examples/search-response-for-roundtrip-offers'
                Response multiproviers one-way offers:
                  $ref: '#/components/examples/search-response-for-multiproviders-one-way-offers'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  '/offers/point-to-point/searches/{searchId}/offers/{offerId}':
    get:
      tags:
        - offers-point-to-point
      summary: Retrieve a point-to-point offer
      description: 'Retrieve a point-to-point offer from a previous search: more details on HOW TO use this endpoint [here](docs/how-to/search/display-offers.md).'
      operationId: getOffersPointToPointGetOfferById
      parameters:
        - $ref: '#/components/parameters/PointOfSale'
        - name: searchId
          in: path
          description: Search ID
          required: true
          schema:
            type: string
        - name: offerId
          in: path
          description: Offer ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: PointToPointOfferView
                description: TYPE = "point-to-point-offer"
                allOf:
                  - $ref: '#/components/schemas/Offer'
                  - type: object
                    properties:
                      type:
                        type: string
                        readOnly: true
                        default: point-to-point-offer
                      fareOffers:
                        type: array
                        items:
                          $ref: '#/components/schemas/FareOffer'
                      serviceOffers:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServiceOffer'
                      leg:
                        $ref: '#/components/schemas/LegSolution'
                      travelers:
                        type: array
                        items:
                          $ref: '#/components/schemas/Traveler'
                      services:
                        type: array
                        items:
                          $ref: '#/components/schemas/Service'
                      products:
                        type: array
                        items:
                          oneOf:
                            - $ref: '#/components/schemas/PointToPointProduct'
                            - $ref: '#/components/schemas/PointToPointReservationProduct'
                      prices:
                        $ref: '#/components/schemas/Era-common_Oas3_Prices'
                      comfortCategory:
                        $ref: '#/components/schemas/Era-common_Oas3_Comfort'
                      flexibility:
                        $ref: '#/components/schemas/Flexibility'
                      compatibleOffers:
                        type: array
                        items:
                          type: string
                      ticketingOptions:
                        type: array
                        description: The ticketing options available for this offer.
                        items:
                          $ref: '#/components/schemas/Era-common_Oas3_TicketingOption'
              examples:
                Get one way offer:
                  $ref: '#/components/examples/search-response-for-one-way-offer'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /offers/point-to-point/discount:
    get:
      summary: Retrieve discount products applicable to point to point
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Era-common_Oas3_Discount'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: searchDiscount
      x-stoplight:
        id: n9two2peqja2q
      parameters:
        - schema:
            type: string
          in: header
          description: Point of sale code
          name: X-Point-Of-Sale
        - schema:
            type: string
            enum:
              - RAILPASS
              - RAILCARD
          in: query
          name: type
          allowEmptyValue: true
          description: dicount type (RAILPASS or RAILCARD)
        - schema:
            type: string
            example: 'EURAIL, DBAHN, INTERRAIL, OBB, RDG, RENFE, SBB, STS, TRENITALIA'
          in: query
          name: carrier
          description: 'carrier code '
          allowEmptyValue: true
      description: "If the parameters are empty, the entire discount list will be returned.\r\nYou can then cache it for future use."
components:
  schemas:
    LegSolutionHighlight:
      title: LegSolutionHighlight
      type: object
      properties:
        legSolution:
          type: string
        strategy:
          type: string
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/OffersHighlight'
    OffersHighlight:
      title: OffersHighlight
      type: object
      properties:
        comfort:
          type: string
        offers:
          type: array
          items:
            type: string
    Leg:
      title: Leg
      type: object
      properties:
        origin:
          $ref: '#/components/schemas/Place'
        destination:
          $ref: '#/components/schemas/Place'
        departure:
          type: string
          format: date-time
        directOnly:
          type: boolean
        solutions:
          type: array
          items:
            $ref: '#/components/schemas/LegSolution'
    Place:
      title: Place
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        code:
          type: string
        uicCode:
          type: string
        label:
          type: string
        localLabel:
          type: string
        timezone:
          type: string
        ticketOffice:
          type: boolean
          x-stoplight:
            id: 3oue7dwsj4f39
          nullable: true
        ticketMachine:
          type: boolean
          x-stoplight:
            id: bhlsqu7arp145
          nullable: true
    LegSolution:
      title: LegSolution
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_Resource'
        - type: object
          properties:
            origin:
              $ref: '#/components/schemas/Place'
            destination:
              $ref: '#/components/schemas/Place'
            departure:
              type: string
              description: This time is in local time
              format: date-time
            arrival:
              type: string
              description: This time is in local time
              format: date-time
            duration:
              type: string
              format: ISO-8601
            segments:
              type: array
              items:
                $ref: '#/components/schemas/Segment'
            segmentConnections:
              type: array
              items:
                $ref: '#/components/schemas/SegmentConnection'
            travelerInformationRequired:
              $ref: '#/components/schemas/TravelerInformationRequired'
            offersSellableReason:
              type: string
              enum:
                - full_fare
                - free
                - supplement_at_station
                - available_supplement_api
                - unknown
    Segment:
      title: Segment
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_Resource'
        - type: object
          properties:
            sequenceNumber:
              type: integer
            origin:
              $ref: '#/components/schemas/Place'
            destination:
              $ref: '#/components/schemas/Place'
            departure:
              type: string
              format: date-time
            arrival:
              type: string
              format: date-time
            duration:
              type: string
              format: ISO-8601
            operatingCarrier:
              type: string
            marketingCarrier:
              type: string
            supplier:
              type: string
            vehicle:
              $ref: '#/components/schemas/Vehicle'
            type:
              $ref: '#/components/schemas/Type'
            marketingInformation:
              type: string
            operatingCarrierRicsCode:
              type: string
            travelerInformationRequired:
              $ref: '#/components/schemas/TravelerInformationRequired'
              description: the required traveler information for the specific segment
    Vehicle:
      title: Vehicle
      type: object
      properties:
        type:
          type: string
          enum:
            - High-Speed
            - Inter-City
            - Branch-Line/Regional
            - Night-Train
        reference:
          type: string
        code:
          type: string
        identityNameRule:
          type: string
        identityName:
          type: string
        lineName:
          $ref: '#/components/schemas/LineName'
    LineName:
      title: Regional line name
      type: object
      properties:
        text:
          type: string
        colors:
          $ref: '#/components/schemas/LineNameColors'
    LineNameColors:
      title: Line name colors
      type: object
      properties:
        background:
          type: string
        font:
          type: string
    Type:
      title: Type
      x-stoplight:
        id: wiwhewuu2s3je
      type: object
      properties:
        type:
          type: string
          enum:
            - train
            - walk
            - london_underground
        reference:
          type: string
        code:
          type: string
    SegmentConnection:
      title: SegmentConnection
      type: object
      properties:
        warning:
          $ref: '#/components/schemas/Era-common_Oas3_ResourceError'
        previousSegmentId:
          type: string
        nextSegmentId:
          type: string
        connectingTime:
          type: string
          format: ISO-8601
    PointToPointOffer:
      title: PointToPointOffer
      description: TYPE = "point-to-point-offer"
      allOf:
        - $ref: '#/components/schemas/Offer'
        - type: object
          properties:
            type:
              type: string
              readOnly: true
              default: point-to-point-offer
            fareOffers:
              type: array
              items:
                $ref: '#/components/schemas/FareOffer'
            serviceOffers:
              type: array
              items:
                $ref: '#/components/schemas/ServiceOffer'
            legSolution:
              type: string
            compatibleOffers:
              type: array
              items:
                type: string
            flexibility:
              $ref: '#/components/schemas/Flexibility'
            compatibleHighlights:
              type: array
              items:
                $ref: '#/components/schemas/LegSolutionHighlight'
            globalRoundTripPrice:
              type: boolean
              description: 'For the outbound offer of a round trip, `true` if the price of the offer corresponds to the global price of the whole round trip (the corresponding inbound offers have a price of 0).'
            ticketingOptions:
              type: array
              description: The ticketing options available for this offer.
              items:
                $ref: '#/components/schemas/Era-common_Oas3_TicketingOption'
            comfortCategory:
              type: object
              x-stoplight:
                id: wcnxruhqighx8
              properties:
                code:
                  x-stoplight:
                    id: 693u9a1or5lsy
                  enum:
                    - STANDARD
                    - COMFORT
                    - PREMIER
                label:
                  type: string
                  x-stoplight:
                    id: wg7jqtwtyrbli
            accommodationPreferences:
              type: array
              items:
                $ref: '#/components/schemas/AccommodationPreference'
    FareOffer:
      title: FareOffer
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_Resource'
        - type: object
          properties:
            fares:
              type: array
              items:
                $ref: '#/components/schemas/ProductAssignment'
            prices:
              $ref: '#/components/schemas/Era-common_Oas3_Prices'
    ProductAssignment:
      title: ProductAssignment
      type: object
      properties:
        productCode:
          type: string
        travelers:
          type: array
          description: Traveler identifiers
          items:
            type: string
        segments:
          type: array
          description: Segment identifiers
          items:
            type: string
    ServiceOffer:
      title: ServiceOffer
      type: object
      properties:
        service:
          type: string
          description: Service identifier
        travelers:
          type: array
          description: Traveler identifiers
          items:
            type: string
        segments:
          type: array
          description: Segment identifiers
          items:
            type: string
    Service:
      title: Service
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_Resource'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AIRCON (Air conditioned car)
                - AUDIO (Audio entertainment)
                - BAGGAGE (Baggage Car)
                - BAR (Bar Car)
                - BICYCLE (Free Bicycle Space)
                - BICYCLE_AVAILABLE (Bicycle Space (Additional Cost))
                - BUFFET (Bar-buffet car)
                - DINING (Restaurant car)
                - EXTRA_BAG (Extra bag)
                - HAND_BAG (Hand bag)
                - INCLUDED_BAG (Included bag)
                - HOT_FOOD (Service of hot food available)
                - HOT_DRINKS (Free Hot Drinks)
                - INTERNET (Free Wifi Internet)
                - INTERNET_AVAILABLE (Wifi Internet)
                - LOUNGE (Lounge Car)
                - LOUNGE_ACCESS (Lounge Access at Station)
                - MEAL (Meal included)
                - NETWORK (Wifi Internet)
                - NETWORK (Wifi Internet)
                - NEWSPAPER (Newspapers & Magazines)
                - ONLINE_FOOD (Online Order of Food)
                - PARKING (Parking at Departure Station)
                - POWER_SOCKET (Power outlets)
                - PRIORITY_BOARDING (Priority Boarding)
                - PRIVATE (Private Car or Cabin)
                - QUIET (Quiet Car or Quiet Zone)
                - RESTAURANT (Restaurant)
                - RESTAURANT_1ST (Restaurant Car available for First Class passengers)
                - SNACK (Snacks and drinks)
                - STEWARD (Steward)
                - TAXI (Taxi reservation)
                - TOUCH_SCREEN (Touch Screen)
                - TOILET (Toilet available)
                - TROLLEY (Snack Trolley Service)
                - USB_PLUG (USB plug)
                - VALET_PARKING (Valet Parking)
                - VENDING_MACHINE (Vending machines available)
                - VIDEO (Video entertainment)
                - WATER (Free Water)
                - WHEELCHAIR (Wheelchair access)
                - WHEELCHAIR_RES (Wheelchair only reservations)
                - WIFI (Wifi)
            label:
              type: string
    LegRequest:
      title: LegRequest
      required:
        - departure
        - destination
        - origin
      type: object
      properties:
        origin:
          $ref: '#/components/schemas/Place'
        destination:
          $ref: '#/components/schemas/Place'
        departure:
          type: string
          description: Departure date must not be in the past
          format: date-time
        directOnly:
          type: boolean
    TravelerRequest:
      title: TravelerRequest
      required:
        - age
      type: object
      properties:
        age:
          type: integer
        cards:
          maxItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Card'
    Card:
      title: Card
      type: object
      required:
        - code
        - type
      properties:
        code:
          type: string
          enum:
            - EUR1
            - EUR2
            - INR1
            - INR2
            - STP1
            - STP2
            - SBB_HALF_FARE
            - DBAHN_CARD25_1
            - DBAHN_CARD25_2
            - DBAHN_CARD50_1
            - DBAHN_CARD50_2
            - DBAHN_CARD25_1_BUSINESS
            - DBAHN_CARD25_2_BUSINESS
            - DBAHN_CARD50_1_BUSINESS
            - DBAHN_CARD50_2_BUSINESS
            - OBB_VORTEILSCARD_JUGEND
            - OBB_VORTEILSCARD_FAMILY
            - OBB_VORTEILSCARD_66
            - OBB_VORTEILSCARD_CLASSIC
            - TI_CARTAFRECCIA
            - RENFE_TARJETA_DORADA
            - RENFE_CARNET_JOVEN
            - RDG_HEART_WALES_RAILCARD
            - RDG_JOBCENTRE_PLUS_TRAVEL_DISCOUNT_CARD
            - RDG_NETWORK_RAILCARD
            - RDG_PEMBROKESHIRE_RAILCARD
            - RDG_SENIOR_RAILCARD
            - RDG_TWO_TOGETHER_RAILCARD
            - RDG_VALLEYS_SENIOR_RAILCARD
            - RDG_16_17_SAVER
            - RDG_16_25_RAILCARD
            - RDG_26_30_RAILCARD
            - RDG_ANNUAL_GOLD_CARD
            - RDG_CAMBRIAN_RAILCARD
            - RDG_COTSWOLD_LINE_RAILCARD
            - RDG_DALES_RAILCARD
            - RDG_DEVON_CORNWALL_RAILCARD
            - RDG_DISABLED_ADULT_RAILCARD
            - RDG_DISABLED_CHILD_RAILCARD
            - RDG_ESK_VALLEY_RAILCARD
            - RDG_FAMILY_FRIENDS_RAILCARD
            - RDG_HIGHLAND_RAILCARD
            - RDG_HM_FORCES_RAILCARD
        number:
          type: string
        type:
          type: string
          enum:
            - TRAVEL_PASS
            - REDUCTION_CARD
      description: |-
        There must be only 1 card per traveler. It's not possible to use cards of type REDUCTION_CARD (railcards and TRAVEL_PASS (railpass) in the same Search, even for separate travelers. If several travelers in a same Search, all of them should have the same railpass or railcard.
        * Codes for type TRAVEL_PASS : `EUR1`, `EUR2`, `INR1`, `INR2`, `STP1`, `STP2`
        * Codes for type REDUCTION_CARD : `SBB_HALF_FARE`, `DBAHN_CARD25_1`, `DBAHN_CARD25_2`, `DBAHN_CARD50_1`, `DBAHN_CARD50_2`, `DBAHN_CARD25_1_BUSINESS`, `DBAHN_CARD25_2_BUSINESS`, `DBAHN_CARD50_1_BUSINESS`, `DBAHN_CARD50_2_BUSINESS`, `OBB_VORTEILSCARD_JUGEND`, `OBB_VORTEILSCARD_FAMILY`, `OBB_VORTEILSCARD_66`,      `OBB_VORTEILSCARD_CLASSIC`, `TI_CARTAFRECCIA`, `RENFE_TARJETA_DORADA`, `RENFE_CARNET_JOVEN`, `RDG_HEART_WALES_RAILCARD`, `RDG_JOBCENTRE_PLUS_TRAVEL_DISCOUNT_CARD`, `RDG_NETWORK_RAILCARD`, `RDG_PEMBROKESHIRE_RAILCARD`, `RDG_SENIOR_RAILCARD`, `RDG_TWO_TOGETHER_RAILCARD`, `RDG_VALLEYS_SENIOR_RAILCARD`, `RDG_16_17_SAVER`, `RDG_16_25_RAILCARD`, `RDG_26_30_RAILCARD`, `RDG_ANNUAL_GOLD_CARD`, `RDG_CAMBRIAN_RAILCARD`, `RDG_COTSWOLD_LINE_RAILCARD`, `RDG_DALES_RAILCARD`, `RDG_DEVON_CORNWALL_RAILCARD`, `RDG_DISABLED_ADULT_RAILCARD`, `RDG_DISABLED_CHILD_RAILCARD`, `RDG_ESK_VALLEY_RAILCARD`, `RDG_FAMILY_FRIENDS_RAILCARD`, `RDG_HIGHLAND_RAILCARD`, `RDG_HM_FORCES_RAILCARD`
    Traveler:
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_Resource'
        - title: Traveler
          type: object
          properties:
            age:
              type: integer
              format: int32
            cards:
              maxItems: 1
              type: array
              items:
                $ref: '#/components/schemas/Card'
            type:
              $ref: '#/components/schemas/Era-common_Oas3_TravelerType'
    Offer:
      title: Offer
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_Resource'
        - type: object
          properties:
            prices:
              $ref: '#/components/schemas/Era-common_Oas3_Prices'
            category:
              type: string
              example: '1st, 2nd, etc.'
            expirationDate:
              type: string
              format: date-time
            location:
              type: string
            type:
              type: string
    Flexibility:
      title: Flexibility
      type: object
      properties:
        code:
          type: string
          enum:
            - NON_FLEX
            - SEMI_FLEX
            - FULL_FLEX
        label:
          type: string
        level:
          type: number
    PointToPointProduct:
      title: PointToPointProduct
      description: TYPE = "point-to-point"
      allOf:
        - $ref: '#/components/schemas/AbstractProduct'
        - type: object
          properties:
            type:
              type: string
              readOnly: true
              default: point-to-point
            paxType:
              $ref: '#/components/schemas/PaxType'
            cabinClass:
              $ref: '#/components/schemas/Era-common_Oas3_CabinClass'
            fare:
              $ref: '#/components/schemas/Fare'
            refundable:
              type: string
              enum:
                - 'YES'
                - 'NO'
                - WITH_CONDITION
            exchangeable:
              type: string
              enum:
                - 'YES'
                - 'NO'
                - WITH_CONDITION
            conditions:
              type: string
              description: 'Deprecated, please use products.fare.conditions instead'
              deprecated: true
    PointToPointReservationProduct:
      title: PointToPointReservationProduct
      description: TYPE = "point-to-point-reservation"
      allOf:
        - $ref: '#/components/schemas/AbstractProduct'
        - type: object
          properties:
            type:
              type: string
              readOnly: true
              default: point-to-point-reservation
            cabinClass:
              $ref: '#/components/schemas/Era-common_Oas3_CabinClass'
            conditions:
              type: string
            externalReservation:
              type: boolean
              description: Indicates whether a seat reservation has to be booked outside of ERA
            refundable:
              type: string
              enum:
                - 'YES'
                - 'NO'
                - WITH_CONDITION
            exchangeable:
              type: string
              enum:
                - 'YES'
                - 'NO'
                - WITH_CONDITION
    AbstractProduct:
      title: AbstractProduct
      type: object
      properties:
        code:
          type: string
        label:
          type: string
        marketingCarrier:
          type: string
        supplier:
          type: string
        comfortCategory:
          $ref: '#/components/schemas/Era-common_Oas3_Comfort'
          description: 'Deprecated, please use products.cabinClass.comfortCategory instead'
        type:
          type: string
    PaxType:
      title: PaxType
      type: object
      properties:
        code:
          type: string
        label:
          type: string
    Fare:
      title: Fare
      type: object
      properties:
        label:
          type: string
        flexibility:
          $ref: '#/components/schemas/Flexibility'
        conditions:
          type: string
    TravelerInformationRequired:
      title: TravelerInformationRequired
      type: object
      required:
        - defaultTravelerInformationRequirements
        - leadTravelerInformationRequirements
        - travelerInformationEligibleToCheckInLater
      properties:
        defaultTravelerInformationRequirements:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Era-common_Oas3_TravelerInformationRequirement'
              - $ref: '#/components/schemas/Era-common_Oas3_TravelerInformationTravelDocumentRequirement'
        defaultTravelerInformationRequired:
          type: array
          deprecated: true
          description: 'Deprecated, please use defaultTravelerInformationRequirements instead'
          items:
            $ref: '#/components/schemas/Era-common_Oas3_TravelerInformation'
        leadTravelerInformationRequirements:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Era-common_Oas3_TravelerInformationRequirement'
              - $ref: '#/components/schemas/Era-common_Oas3_TravelerInformationTravelDocumentRequirement'
        leadTravelerInformationRequired:
          type: array
          deprecated: true
          description: 'Deprecated, please use leadTravelerInformationRequirements instead'
          items:
            $ref: '#/components/schemas/Era-common_Oas3_TravelerInformation'
        travelerInformationEligibleToCheckInLater:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Era-common_Oas3_CheckInLaterTravelDocumentTravelerInformation'
              - $ref: '#/components/schemas/Era-common_Oas3_TravelerInformationRequirement'
    AccommodationPreference:
      title: AccommodationPreference
      type: object
      properties:
        id:
          type: string
        preferenceType:
          type: string
          enum:
            - SEATING_PREFERENCE
            - COMPARTMENT_TYPE
            - SPACE_TYPE
            - TABLE
            - DUPLEX_LEVEL
            - SEAT_TYPE
            - DIRECTION
            - BERTH_LEVEL
        options:
          type: array
          description: Possible values for the accommodation preference
          items:
            type: string
        multiSelection:
          type: boolean
        segments:
          type: array
          description: Related segments
          items:
            type: string
    Era-common_Oas3_AbstractTravelerInformationRequirement:
      title: AbstractTravelerInformationRequirement
      type: object
      properties:
        name:
          $ref: '#/components/schemas/Era-common_Oas3_TravelerInformation'
    Era-common_Oas3_Amount:
      title: Amount
      type: object
      properties:
        value:
          type: number
        currency:
          type: string
    Era-common_Oas3_AmountsToDisplay:
      title: AmountsToDisplay
      x-stoplight:
        id: krwxic91r2rjp
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Era-common_Oas3_Amount'
        partnerCommission:
          $ref: '#/components/schemas/Era-common_Oas3_PartnerCommission'
    Era-common_Oas3_Billing:
      title: Billing
      type: object
      properties:
        billingPrice:
          $ref: '#/components/schemas/Era-common_Oas3_BillingPrice'
        partnerCommission:
          $ref: '#/components/schemas/Era-common_Oas3_PartnerCommission'
    Era-common_Oas3_BillingPrice:
      title: BillingPrice
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Era-common_Oas3_Amount'
    Era-common_Oas3_CabinClass:
      title: CabinClass
      type: object
      properties:
        code:
          type: string
        label:
          type: string
        comfortCategory:
          allOf:
            - $ref: '#/components/schemas/Era-common_Oas3_Comfort'
            - type: object
              deprecated: false
              properties:
                code:
                  deprecated: false
                label:
                  deprecated: false
        type:
          $ref: '#/components/schemas/Era-common_Oas3_CabinType'
    Era-common_Oas3_CabinType:
      type: object
      description: This field is typically returned for night trains.
      properties:
        code:
          enum:
            - COUCHETTE
            - SLEEPER
            - SEAT
        label:
          enum:
            - Couchette
            - Sleeper
            - Seat
    Era-common_Oas3_CauseError:
      title: CauseError
      type: object
      properties:
        code:
          type: string
        details:
          type: array
          items:
            type: string
        label:
          type: string
        type:
          type: string
          enum:
            - technical
            - functional
    Era-common_Oas3_CheckInLaterTravelDocumentOptionTravelerInformation:
      title: CheckInLaterTravelDocumentOptionTravelerInformation
      type: object
      properties:
        name:
          $ref: '#/components/schemas/Era-common_Oas3_DocumentType'
    Era-common_Oas3_CheckInLaterTravelDocumentTravelerInformation:
      title: CheckInLaterTravelDocumentTravelerInformation
      description: TYPE = "check-in-later-travel-document-traveler-information"
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_AbstractTravelerInformationRequirement'
        - type: object
          properties:
            type:
              type: string
              readOnly: true
              default: check-in-later-travel-document-traveler-information
            options:
              type: array
              items:
                $ref: '#/components/schemas/Era-common_Oas3_CheckInLaterTravelDocumentOptionTravelerInformation'
    Era-common_Oas3_Comfort:
      deprecated: true
      title: Comfort
      type: object
      properties:
        code:
          deprecated: true
          type: string
          enum:
            - STANDARD
            - COMFORT
            - PREMIER
        label:
          deprecated: true
          type: string
    Era-common_Oas3_Discount:
      title: Discount
      x-stoplight:
        id: kfrnwptiv9u3n
      type: object
      properties:
        key:
          type: string
          x-stoplight:
            id: 91i2mnonfrukk
        carrier:
          type: string
          x-stoplight:
            id: 0s3tjshdmby3c
        label:
          type: string
          x-stoplight:
            id: kulpugvpi4xoa
        discountIdRequired:
          type: boolean
          x-stoplight:
            id: jlct4ludmsbec
        type:
          x-stoplight:
            id: 9cur9z0g6sh20
          enum:
            - RAILPASS
            - RAILCARD
    Era-common_Oas3_DocumentType:
      title: DocumentType
      type: string
      enum:
        - PASSPORT
        - DNI
        - NIE
        - EU
    Era-common_Oas3_PartnerCommission:
      title: PartnerCommission
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Era-common_Oas3_Amount'
    Era-common_Oas3_Prices:
      title: Prices
      type: object
      properties:
        billings:
          type: array
          items:
            $ref: '#/components/schemas/Era-common_Oas3_Billing'
        selling:
          $ref: '#/components/schemas/Era-common_Oas3_Selling'
        amountsToDisplay:
          $ref: '#/components/schemas/Era-common_Oas3_AmountsToDisplay'
    Era-common_Oas3_Resource:
      title: Resource
      type: object
      properties:
        id:
          type: string
        errors:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Era-common_Oas3_ResourceError'
        warnings:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Era-common_Oas3_ResourceError'
    Era-common_Oas3_ResourceError:
      title: ResourceError
      type: object
      properties:
        causes:
          type: array
          items:
            $ref: '#/components/schemas/Era-common_Oas3_CauseError'
        code:
          type: string
        details:
          type: array
          items:
            type: string
        label:
          type: string
        type:
          type: string
          enum:
            - technical
            - functional
    Era-common_Oas3_Selling:
      title: Selling
      type: object
      properties:
        sellingPrice:
          $ref: '#/components/schemas/Era-common_Oas3_SellingPrice'
        partnerCommission:
          $ref: '#/components/schemas/Era-common_Oas3_PartnerCommission'
    Era-common_Oas3_SellingPrice:
      title: SellingPrice
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Era-common_Oas3_Amount'
    Era-common_Oas3_TicketingOption:
      title: TicketingOption
      type: object
      properties:
        code:
          type: string
          enum:
            - PAH
            - TOD
            - ETK
            - TICKETLESS
            - MPASS
            - RETRIEVE_VIA_LINK
      description: |
        A ticketing option represents how to obtain the tickets for a booking item (point-to-point or pass).
    Era-common_Oas3_TravelerInformation:
      title: TravelerInformation
      type: string
      description: 'PASSPORT is now deprecated, please use TRAVEL_DOCUMENT and his different options'
      enum:
        - TITLE
        - FIRST_NAME
        - LAST_NAME
        - DATE_OF_BIRTH
        - COUNTRY_OF_RESIDENCE
        - EMAIL
        - PHONE_NUMBER
        - REDUCTION_CARD_ID
        - TRAVEL_DOCUMENT
        - PASSPORT
    Era-common_Oas3_TravelerInformationRequirement:
      title: TravelerInformationRequirement
      description: TYPE = "traveler-information"
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_AbstractTravelerInformationRequirement'
        - type: object
          properties:
            type:
              type: string
              readOnly: true
              default: traveler-information
    Era-common_Oas3_TravelerInformationTravelDocumentOptionRequirement:
      title: TravelerInformationTravelDocumentOptionRequirement
      type: object
      properties:
        name:
          $ref: '#/components/schemas/Era-common_Oas3_DocumentType'
    Era-common_Oas3_TravelerInformationTravelDocumentRequirement:
      title: TravelerInformationTravelDocumentRequirement
      description: TYPE = "travel-document-traveler-information"
      allOf:
        - $ref: '#/components/schemas/Era-common_Oas3_AbstractTravelerInformationRequirement'
        - type: object
          properties:
            type:
              type: string
              readOnly: true
              default: travel-document-traveler-information
            options:
              type: array
              items:
                $ref: '#/components/schemas/Era-common_Oas3_TravelerInformationTravelDocumentOptionRequirement'
    Era-common_Oas3_TravelerType:
      title: TravelerType
      type: string
      description: 'Authorized values: ADULT, SENIOR & YOUTH'
  examples:
    search-request-for-one-way-offers:
      summary: Search request for one way offers
      value:
        travelers:
          - age: 30
          - age: 10
        legs:
          - origin:
              code: 'FR:paris'
              type: city
            destination:
              code: 'FR:nantes'
              type: station
            departure: '2023-11-28T18:00:00'
            directOnly: false
    search-request-for-one-way-offers-passholder-fare:
      summary: Search request for one way offers with passholder fare
      value:
        travelers:
          - age: 30
            cards:
              - code: EUR2
                type: TRAVEL_PASS
        legs:
          - origin:
              code: 'FR:paris'
              type: city
            destination:
              code: 'FR:nantes'
              type: station
            departure: '2023-11-28T18:00:00'
            directOnly: false
    search-request-for-roundtrip-offers:
      summary: Search request for roundtrip offers
      value:
        travelers:
          - age: 30
        legs:
          - origin:
              code: 'FR:paris'
              type: city
            destination:
              code: 'FR:nantes'
              type: station
            departure: '2023-11-28T18:00:00'
            directOnly: true
          - origin:
              code: 'FR:nantes'
              type: station
            destination:
              code: 'FR:paris'
              type: city
            departure: '2023-11-30T18:00:00'
            directOnly: true
    search-request-for-one-way-offers-with-rit-products-filters:
      summary: Search request for one way offers with RIT products filters
      value:
        travelers:
          - age: 30
          - age: 10
        legs:
          - origin:
              code: 'FR:paris'
              type: city
            destination:
              code: 'GB:london'
              type: city
            departure: '2023-11-28T18:00:00'
            directOnly: false
        productFilters:
          - RIT
    search-response-for-one-way-offers:
      summary: Response for one offer
      value:
        id: a1c72c09-f82d-4171-abc4-1a7d8ca91a60
        pointOfSale: TEST POS
        legs:
          - origin:
              id: qa1UsIoBQcdVsdefeXeM
              type: city
              code: 'FR:paris'
              label: Paris (All stations)
              localLabel: Paris (All stations)
              timezone: Europe/Paris
              ticketOffice: null
              ticketMachine: null
            destination:
              id: W61UsIoBQcdVsdefeXiM
              type: city
              code: 'FR:lyon'
              label: Lyon
              localLabel: Lyon
              timezone: Europe/Paris
              ticketOffice: null
              ticketMachine: null
            departure: '2023-10-20T20:00:00'
            directOnly: false
            solutions:
              - id: 77eb4802-70ce-4cc9-8fd1-4b86562a8db9
                origin:
                  id: uaxUsIoBQcdVsdefQLwg
                  type: station
                  code: 'FR:paris_lyon'
                  uicCode: '8768600'
                  label: Paris Gare de Lyon
                  localLabel: Paris Gare de Lyon
                  timezone: Europe/Paris
                  ticketOffice: null
                  ticketMachine: true
                destination:
                  id: Y6xUsIoBQcdVsdefRcww
                  type: station
                  code: 'FR:lyon_part_dieu'
                  uicCode: '8772319'
                  label: Lyon Part Dieu
                  localLabel: Lyon Part Dieu
                  timezone: Europe/Paris
                  ticketOffice: null
                  ticketMachine: true
                departure: '2023-10-20T20:00:00'
                arrival: '2023-10-20T21:56:00'
                duration: PT1H56M
                segments:
                  - id: 644145e4-11a1-401a-94a9-b8ed1aaeb567
                    sequenceNumber: 0
                    origin:
                      id: uaxUsIoBQcdVsdefQLwg
                      type: station
                      code: 'FR:paris_lyon'
                      uicCode: '8768600'
                      label: Paris Gare de Lyon
                      localLabel: Paris Gare de Lyon
                      timezone: Europe/Paris
                      ticketOffice: null
                      ticketMachine: true
                    destination:
                      id: Y6xUsIoBQcdVsdefRcww
                      type: station
                      code: 'FR:lyon_part_dieu'
                      uicCode: '8772319'
                      label: Lyon Part Dieu
                      localLabel: Lyon Part Dieu
                      timezone: Europe/Paris
                      ticketOffice: null
                      ticketMachine: true
                    departure: '2023-10-20T20:00:00'
                    arrival: '2023-10-20T21:56:00'
                    duration: PT1H56M
                    operatingCarrier: TGV INOUI
                    marketingCarrier: TGV
                    vehicle:
                      type: TGV INOUI
                      reference: '6631'
                      code: sncf
                    type: train
                    marketingInformation: PAO_SNCF
                travelerInformationRequired:
                  defaultTravelerInformationRequired:
                    - TITLE
                    - LAST_NAME
                    - FIRST_NAME
                  leadTravelerInformationRequired:
                    - EMAIL
                    - PHONE_NUMBER
        travelers:
          - id: 126ca54a-b74c-4325-9045-4469b44e4b0c
            age: 30
            type: ADULT
        offers:
          - type: point-to-point-offer
            id: ede1f4f2-acf1-4582-b797-8c2bdcaf5fd9
            prices:
              billings:
                - billingPrice:
                    amount:
                      value: 142
                      currency: EUR
                    netAmount:
                      value: 142
                      currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
              selling:
                sellingPrice:
                  amount:
                    value: 142
                    currency: EUR
                partnerCommission:
                  amount:
                    value: 0
                    currency: EUR
              amountsToDisplay:
                - amount:
                    value: 142
                    currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
            expirationDate: '2023-09-20T13:45:46.25844748Z'
            location: /offers/point-to-point/searches/a1c72c09-f82d-4171-abc4-1a7d8ca91a60/offers/ede1f4f2-acf1-4582-b797-8c2bdcaf5fd9
            fareOffers:
              - id: 2779a208-5579-4d3d-9144-2536e922937f
                fares:
                  - productCode: SNCF_FA11_TGV_adults_First
                    segments:
                      - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                    travelers:
                      - 126ca54a-b74c-4325-9045-4469b44e4b0c
                prices:
                  billings:
                    - billingPrice:
                        amount:
                          value: 142
                          currency: EUR
                        netAmount:
                          value: 142
                          currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                  selling:
                    sellingPrice:
                      amount:
                        value: 142
                        currency: EUR
                    partnerCommission:
                      amount:
                        value: 0
                        currency: EUR
                  amountsToDisplay:
                    - amount:
                        value: 142
                        currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                  ticket:
                    billings:
                      - billingPrice:
                          amount:
                            value: 142
                            currency: EUR
                          netAmount:
                            value: 142
                            currency: EUR
                        partnerCommission:
                          amount:
                            value: 0
                            currency: EUR
                    selling:
                      sellingPrice:
                        amount:
                          value: 142
                          currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                    amountsToDisplay:
                      - amount:
                          value: 142
                          currency: EUR
                        partnerCommission:
                          amount:
                            value: 0
                            currency: EUR
            serviceOffers:
              - service: d658cf20-cd7a-424e-98a0-5f7d4177ad85
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
              - service: bba02bf5-44d1-4605-a216-0dd5828d6161
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
              - service: 36192052-660f-4a7b-b7fd-463a55b43c24
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
              - service: 8b1b1719-3cf7-481b-82a0-53f95448d9ba
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
            legSolution: 77eb4802-70ce-4cc9-8fd1-4b86562a8db9
            comfortCategory:
              code: COMFORT
              label: Comfort
            flexibility:
              code: FULL_FLEX
              label: Flexible
              level: 3
            ticketingOptions:
              - code: PAH
              - code: PAH
            accommodationPreferences:
              - id: f99c1813-8656-4713-a46c-28db2611a1a8
                preferenceType: SEATING_PREFERENCE
                options:
                  - aisle
                  - duo
                  - window
                multiSelection: false
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
          - type: point-to-point-offer
            id: d722f502-4326-4a49-be79-13bc1ae03a47
            prices:
              billings:
                - billingPrice:
                    amount:
                      value: 25
                      currency: EUR
                    netAmount:
                      value: 25
                      currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
              selling:
                sellingPrice:
                  amount:
                    value: 25
                    currency: EUR
                partnerCommission:
                  amount:
                    value: 0
                    currency: EUR
              amountsToDisplay:
                - amount:
                    value: 25
                    currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
            expirationDate: '2023-09-20T13:45:46.25844793Z'
            location: /offers/point-to-point/searches/a1c72c09-f82d-4171-abc4-1a7d8ca91a60/offers/d722f502-4326-4a49-be79-13bc1ae03a47
            fareOffers:
              - id: f82a7e92-0e3f-454a-bc60-beb457a3a3cb
                fares:
                  - productCode: SNCF_JR11_TGV_adults_Standard
                    segments:
                      - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                    travelers:
                      - 126ca54a-b74c-4325-9045-4469b44e4b0c
                prices:
                  billings:
                    - billingPrice:
                        amount:
                          value: 25
                          currency: EUR
                        netAmount:
                          value: 25
                          currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                  selling:
                    sellingPrice:
                      amount:
                        value: 25
                        currency: EUR
                    partnerCommission:
                      amount:
                        value: 0
                        currency: EUR
                  amountsToDisplay:
                    - amount:
                        value: 25
                        currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                  ticket:
                    billings:
                      - billingPrice:
                          amount:
                            value: 25
                            currency: EUR
                          netAmount:
                            value: 25
                            currency: EUR
                        partnerCommission:
                          amount:
                            value: 0
                            currency: EUR
                    selling:
                      sellingPrice:
                        amount:
                          value: 25
                          currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                    amountsToDisplay:
                      - amount:
                          value: 25
                          currency: EUR
                        partnerCommission:
                          amount:
                            value: 0
                            currency: EUR
            serviceOffers:
              - service: d658cf20-cd7a-424e-98a0-5f7d4177ad85
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
              - service: bba02bf5-44d1-4605-a216-0dd5828d6161
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
              - service: 36192052-660f-4a7b-b7fd-463a55b43c24
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
              - service: 8b1b1719-3cf7-481b-82a0-53f95448d9ba
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
            legSolution: 77eb4802-70ce-4cc9-8fd1-4b86562a8db9
            comfortCategory:
              code: STANDARD
              label: Standard
            flexibility:
              code: SEMI_FLEX
              label: Semi Flex
              level: 2
            ticketingOptions:
              - code: PAH
              - code: PAH
          - type: point-to-point-offer
            id: 0aa97341-3220-4a6b-96f9-e290a00ad571
            prices:
              billings:
                - billingPrice:
                    amount:
                      value: 29
                      currency: EUR
                    netAmount:
                      value: 29
                      currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
              selling:
                sellingPrice:
                  amount:
                    value: 29
                    currency: EUR
                partnerCommission:
                  amount:
                    value: 0
                    currency: EUR
              amountsToDisplay:
                - amount:
                    value: 29
                    currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
            expirationDate: '2023-09-20T13:45:46.258448091Z'
            location: /offers/point-to-point/searches/a1c72c09-f82d-4171-abc4-1a7d8ca91a60/offers/0aa97341-3220-4a6b-96f9-e290a00ad571
            fareOffers:
              - id: b46fd606-e6e9-4133-8f79-b68df5326c77
                fares:
                  - productCode: SNCF_JR11_TGV_adults_First
                    segments:
                      - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                    travelers:
                      - 126ca54a-b74c-4325-9045-4469b44e4b0c
                prices:
                  billings:
                    - billingPrice:
                        amount:
                          value: 29
                          currency: EUR
                        netAmount:
                          value: 29
                          currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                  selling:
                    sellingPrice:
                      amount:
                        value: 29
                        currency: EUR
                    partnerCommission:
                      amount:
                        value: 0
                        currency: EUR
                  amountsToDisplay:
                    - amount:
                        value: 29
                        currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                  ticket:
                    billings:
                      - billingPrice:
                          amount:
                            value: 29
                            currency: EUR
                          netAmount:
                            value: 29
                            currency: EUR
                        partnerCommission:
                          amount:
                            value: 0
                            currency: EUR
                    selling:
                      sellingPrice:
                        amount:
                          value: 29
                          currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                    amountsToDisplay:
                      - amount:
                          value: 29
                          currency: EUR
                        partnerCommission:
                          amount:
                            value: 0
                            currency: EUR
            serviceOffers:
              - service: d658cf20-cd7a-424e-98a0-5f7d4177ad85
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
              - service: bba02bf5-44d1-4605-a216-0dd5828d6161
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
              - service: 36192052-660f-4a7b-b7fd-463a55b43c24
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
              - service: 8b1b1719-3cf7-481b-82a0-53f95448d9ba
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
            legSolution: 77eb4802-70ce-4cc9-8fd1-4b86562a8db9
            comfortCategory:
              code: COMFORT
              label: Comfort
            flexibility:
              code: SEMI_FLEX
              label: Semi Flex
              level: 2
            ticketingOptions:
              - code: PAH
              - code: PAH
        products:
          - type: point-to-point
            code: SNCF_JR11_TGV_adults_First
            label: Leisure
            marketingCarrier: TGV
            supplier: SNCF
            paxType:
              code: adults
              label: LH_Adult
            cabinClass:
              code: First
              label: First
              comfortCategory:
                code: COMFORT
                label: Comfort
            fare:
              label: Leisure
              flexibility:
                code: SEMI_FLEX
                label: Semi Flex
                level: 2
              conditions: |
                <p>Refunds: If ticket not used, refundable up to 7 days before train departure. Then refundable from 6 days before train departure day, a 19 EUR fee applies (Please note: INTERCITY:  a 15 EUR maximum fee applies). Thereafter, no refund allowed. No refund possible once exchanged.</p>
                <p>Exchanges: If ticket not used, exchangeable up to 7 days before train departure. Then exchangeable from 6 days before train departure day, a 19 EUR fee applies (Please note: INTERCITY:  a 15 EUR maximum fee applies). Two exchanges maximum allowed from 30 minutes before and up to train departure time on the same day and same itinerary. Thereafter, no exchange allowed.</p>
                <p>Passenger must pay the difference in price for next available fare in same or higher class of service.&nbsp;</p>
                <p></p>
                <p><strong>WARNING</strong>: Please note that 3 extra business days may be needed to process the aftersales through your travel agency&nbsp;</p>
            conditions: |
              <p>Refunds: If ticket not used, refundable up to 7 days before train departure. Then refundable from 6 days before train departure day, a 19 EUR fee applies (Please note: INTERCITY:  a 15 EUR maximum fee applies). Thereafter, no refund allowed. No refund possible once exchanged.</p>
              <p>Exchanges: If ticket not used, exchangeable up to 7 days before train departure. Then exchangeable from 6 days before train departure day, a 19 EUR fee applies (Please note: INTERCITY:  a 15 EUR maximum fee applies). Two exchanges maximum allowed from 30 minutes before and up to train departure time on the same day and same itinerary. Thereafter, no exchange allowed.</p>
              <p>Passenger must pay the difference in price for next available fare in same or higher class of service.&nbsp;</p>
              <p></p>
              <p><strong>WARNING</strong>: Please note that 3 extra business days may be needed to process the aftersales through your travel agency&nbsp;</p>
            flexibility:
              code: SEMI_FLEX
              label: Semi Flex
              level: 2
            refundable: WITH_CONDITION
            exchangeable: WITH_CONDITION
            comfortCategory:
              code: COMFORT
              label: Comfort
          - type: point-to-point
            code: SNCF_JR11_TGV_adults_Standard
            label: Leisure
            marketingCarrier: TGV
            supplier: SNCF
            paxType:
              code: adults
              label: LH_Adult
            cabinClass:
              code: Standard
              label: Standard
              comfortCategory:
                code: STANDARD
                label: Standard
            fare:
              label: Leisure
              flexibility:
                code: SEMI_FLEX
                label: Semi Flex
                level: 2
              conditions: |
                <p>Refunds: If ticket not used, refundable up to 7 days before train departure. Then refundable from 6 days before train departure day, a 19 EUR fee applies (Please note: INTERCITY:  a 15 EUR maximum fee applies). Thereafter, no refund allowed. No refund possible once exchanged.</p>
                <p>Exchanges: If ticket not used, exchangeable up to 7 days before train departure. Then exchangeable from 6 days before train departure day, a 19 EUR fee applies (Please note: INTERCITY:  a 15 EUR maximum fee applies). Two exchanges maximum allowed from 30 minutes before and up to train departure time on the same day and same itinerary. Thereafter, no exchange allowed.</p>
                <p>Passenger must pay the difference in price for next available fare in same or higher class of service.&nbsp;</p>
                <p></p>
                <p><strong>WARNING</strong>: Please note that 3 extra business days may be needed to process the aftersales through your travel agency&nbsp;</p>
            conditions: |
              <p>Refunds: If ticket not used, refundable up to 7 days before train departure. Then refundable from 6 days before train departure day, a 19 EUR fee applies (Please note: INTERCITY:  a 15 EUR maximum fee applies). Thereafter, no refund allowed. No refund possible once exchanged.</p>
              <p>Exchanges: If ticket not used, exchangeable up to 7 days before train departure. Then exchangeable from 6 days before train departure day, a 19 EUR fee applies (Please note: INTERCITY:  a 15 EUR maximum fee applies). Two exchanges maximum allowed from 30 minutes before and up to train departure time on the same day and same itinerary. Thereafter, no exchange allowed.</p>
              <p>Passenger must pay the difference in price for next available fare in same or higher class of service.&nbsp;</p>
              <p></p>
              <p><strong>WARNING</strong>: Please note that 3 extra business days may be needed to process the aftersales through your travel agency&nbsp;</p>
            flexibility:
              code: SEMI_FLEX
              label: Semi Flex
              level: 2
            refundable: WITH_CONDITION
            exchangeable: WITH_CONDITION
            comfortCategory:
              code: STANDARD
              label: Standard
          - type: point-to-point
            code: SNCF_FA11_TGV_adults_First
            label: Business
            marketingCarrier: TGV
            supplier: SNCF
            paxType:
              code: adults
              label: LH_Adult
            cabinClass:
              code: First
              label: First
              comfortCategory:
                code: COMFORT
                label: Comfort
            fare:
              label: Business
              flexibility:
                code: FULL_FLEX
                label: Flexible
                level: 3
              conditions: |
                <p>Refunds: If ticket not used, refundable before train departure and up to 30 minutes after train departure time. Thereafter, no refund allowed. No refund possible once exchanged.<br>Exchanges: If ticket not used, exchangeable before train departure  and up to 30 minutes after train departure time. Thereafter, no exchange allowed. Two exchanges maximum allowed. <br>Passenger must pay the difference in price for next available fare in same or higher class of service.<span style="color: rgb(103,118,138);background-color: rgb(255,255,255);font-size: 13px;"> </span> <br> <br><strong> WARNING:</strong> Please note that 3 extra business days may be needed to process the aftersales through your travel agency&nbsp;&nbsp;</p>
            conditions: |
              <p>Refunds: If ticket not used, refundable before train departure and up to 30 minutes after train departure time. Thereafter, no refund allowed. No refund possible once exchanged.<br>Exchanges: If ticket not used, exchangeable before train departure  and up to 30 minutes after train departure time. Thereafter, no exchange allowed. Two exchanges maximum allowed. <br>Passenger must pay the difference in price for next available fare in same or higher class of service.<span style="color: rgb(103,118,138);background-color: rgb(255,255,255);font-size: 13px;"> </span> <br> <br><strong> WARNING:</strong> Please note that 3 extra business days may be needed to process the aftersales through your travel agency&nbsp;&nbsp;</p>
            flexibility:
              code: FULL_FLEX
              label: Flexible
              level: 3
            refundable: 'YES'
            exchangeable: 'YES'
            comfortCategory:
              code: COMFORT
              label: Comfort
        services:
          - id: bba02bf5-44d1-4605-a216-0dd5828d6161
            type: INTERNET
            label: Free Wifi Internet
          - id: d658cf20-cd7a-424e-98a0-5f7d4177ad85
            type: WHEELCHAIR
            label: Wheelchair access
          - id: 8b1b1719-3cf7-481b-82a0-53f95448d9ba
            type: BAR
            label: Bar Car
          - id: 36192052-660f-4a7b-b7fd-463a55b43c24
            type: BICYCLE_AVAILABLE
            label: Bicycle Space (Additional Cost)
        highlights:
          - legSolution: 77eb4802-70ce-4cc9-8fd1-4b86562a8db9
            strategy: BEST_PRICE
            highlights:
              - comfort: COMFORT
                offers:
                  - 0aa97341-3220-4a6b-96f9-e290a00ad571
                  - ede1f4f2-acf1-4582-b797-8c2bdcaf5fd9
              - comfort: STANDARD
                offers:
                  - d722f502-4326-4a49-be79-13bc1ae03a47
          - legSolution: 77eb4802-70ce-4cc9-8fd1-4b86562a8db9
            strategy: MOST_FLEXIBLE
            highlights:
              - comfort: COMFORT
                offers:
                  - ede1f4f2-acf1-4582-b797-8c2bdcaf5fd9
                  - 0aa97341-3220-4a6b-96f9-e290a00ad571
              - comfort: STANDARD
                offers:
                  - d722f502-4326-4a49-be79-13bc1ae03a47
    search-response-for-one-way-offer:
      value:
        type: point-to-point-offer
        id: ede1f4f2-acf1-4582-b797-8c2bdcaf5fd9
        prices:
          billings:
            - billingPrice:
                amount:
                  value: 142
                  currency: EUR
                netAmount:
                  value: 142
                  currency: EUR
              partnerCommission:
                amount:
                  value: 0
                  currency: EUR
          selling:
            sellingPrice:
              amount:
                value: 142
                currency: EUR
            partnerCommission:
              amount:
                value: 0
                currency: EUR
          amountsToDisplay:
            - amount:
                value: 142
                currency: EUR
              partnerCommission:
                amount:
                  value: 0
                  currency: EUR
        expirationDate: '2023-09-20T13:45:46.25844748Z'
        fareOffers:
          - id: 2779a208-5579-4d3d-9144-2536e922937f
            fares:
              - productCode: SNCF_FA11_TGV_adults_First
                segments:
                  - 644145e4-11a1-401a-94a9-b8ed1aaeb567
                travelers:
                  - 126ca54a-b74c-4325-9045-4469b44e4b0c
            prices:
              billings:
                - billingPrice:
                    amount:
                      value: 142
                      currency: EUR
                    netAmount:
                      value: 142
                      currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
              selling:
                sellingPrice:
                  amount:
                    value: 142
                    currency: EUR
                partnerCommission:
                  amount:
                    value: 0
                    currency: EUR
              amountsToDisplay:
                - amount:
                    value: 142
                    currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
              ticket:
                billings:
                  - billingPrice:
                      amount:
                        value: 142
                        currency: EUR
                      netAmount:
                        value: 142
                        currency: EUR
                    partnerCommission:
                      amount:
                        value: 0
                        currency: EUR
                selling:
                  sellingPrice:
                    amount:
                      value: 142
                      currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
                amountsToDisplay:
                  - amount:
                      value: 142
                      currency: EUR
                    partnerCommission:
                      amount:
                        value: 0
                        currency: EUR
        serviceOffers:
          - service: d658cf20-cd7a-424e-98a0-5f7d4177ad85
            segments:
              - 644145e4-11a1-401a-94a9-b8ed1aaeb567
            travelers:
              - 126ca54a-b74c-4325-9045-4469b44e4b0c
          - service: bba02bf5-44d1-4605-a216-0dd5828d6161
            segments:
              - 644145e4-11a1-401a-94a9-b8ed1aaeb567
            travelers:
              - 126ca54a-b74c-4325-9045-4469b44e4b0c
          - service: 36192052-660f-4a7b-b7fd-463a55b43c24
            segments:
              - 644145e4-11a1-401a-94a9-b8ed1aaeb567
            travelers:
              - 126ca54a-b74c-4325-9045-4469b44e4b0c
          - service: 8b1b1719-3cf7-481b-82a0-53f95448d9ba
            segments:
              - 644145e4-11a1-401a-94a9-b8ed1aaeb567
            travelers:
              - 126ca54a-b74c-4325-9045-4469b44e4b0c
        leg:
          id: 77eb4802-70ce-4cc9-8fd1-4b86562a8db9
          origin:
            id: uaxUsIoBQcdVsdefQLwg
            type: station
            code: 'FR:paris_lyon'
            uicCode: '8768600'
            label: Paris Gare de Lyon
            localLabel: Paris Gare de Lyon
            timezone: Europe/Paris
          destination:
            id: Y6xUsIoBQcdVsdefRcww
            type: station
            code: 'FR:lyon_part_dieu'
            uicCode: '8772319'
            label: Lyon Part Dieu
            localLabel: Lyon Part Dieu
            timezone: Europe/Paris
          departure: '2023-10-20T20:00:00'
          arrival: '2023-10-20T21:56:00'
          duration: PT1H56M
          segments:
            - id: 644145e4-11a1-401a-94a9-b8ed1aaeb567
              sequenceNumber: 0
              origin:
                id: uaxUsIoBQcdVsdefQLwg
                type: station
                code: 'FR:paris_lyon'
                uicCode: '8768600'
                label: Paris Gare de Lyon
                localLabel: Paris Gare de Lyon
                timezone: Europe/Paris
              destination:
                id: Y6xUsIoBQcdVsdefRcww
                type: station
                code: 'FR:lyon_part_dieu'
                uicCode: '8772319'
                label: Lyon Part Dieu
                localLabel: Lyon Part Dieu
                timezone: Europe/Paris
              departure: '2023-10-20T20:00:00'
              arrival: '2023-10-20T21:56:00'
              duration: PT1H56M
              operatingCarrier: TGV INOUI
              marketingCarrier: TGV
              vehicle:
                type: TGV INOUI
                reference: '6631'
                code: sncf
              type: train
              marketingInformation: PAO_SNCF
          travelerInformationRequired:
            defaultTravelerInformationRequired:
              - TITLE
              - LAST_NAME
              - FIRST_NAME
            leadTravelerInformationRequired:
              - EMAIL
              - PHONE_NUMBER
        travelers:
          - id: 126ca54a-b74c-4325-9045-4469b44e4b0c
            age: 30
            type: ADULT
        services:
          - id: bba02bf5-44d1-4605-a216-0dd5828d6161
            type: INTERNET
            label: Free Wifi Internet
          - id: d658cf20-cd7a-424e-98a0-5f7d4177ad85
            type: WHEELCHAIR
            label: Wheelchair access
          - id: 8b1b1719-3cf7-481b-82a0-53f95448d9ba
            type: BAR
            label: Bar Car
          - id: 36192052-660f-4a7b-b7fd-463a55b43c24
            type: BICYCLE_AVAILABLE
            label: Bicycle Space (Additional Cost)
        products:
          - type: point-to-point
            code: SNCF_FA11_TGV_adults_First
            label: Business
            marketingCarrier: TGV
            supplier: SNCF
            paxType:
              code: adults
              label: LH_Adult
            cabinClass:
              code: First
              label: First
              comfortCategory:
                code: COMFORT
                label: Comfort
            fare:
              label: Business
              flexibility:
                code: FULL_FLEX
                label: Flexible
                level: 3
              conditions: |
                <p>Refunds: If ticket not used, refundable before train departure and up to 30 minutes after train departure time. Thereafter, no refund allowed. No refund possible once exchanged.<br>Exchanges: If ticket not used, exchangeable before train departure  and up to 30 minutes after train departure time. Thereafter, no exchange allowed. Two exchanges maximum allowed. <br>Passenger must pay the difference in price for next available fare in same or higher class of service.<span style="color: rgb(103,118,138);background-color: rgb(255,255,255);font-size: 13px;"> </span> <br> <br><strong> WARNING:</strong> Please note that 3 extra business days may be needed to process the aftersales through your travel agency&nbsp;&nbsp;</p>
            conditions: |
              <p>Refunds: If ticket not used, refundable before train departure and up to 30 minutes after train departure time. Thereafter, no refund allowed. No refund possible once exchanged.<br>Exchanges: If ticket not used, exchangeable before train departure  and up to 30 minutes after train departure time. Thereafter, no exchange allowed. Two exchanges maximum allowed. <br>Passenger must pay the difference in price for next available fare in same or higher class of service.<span style="color: rgb(103,118,138);background-color: rgb(255,255,255);font-size: 13px;"> </span> <br> <br><strong> WARNING:</strong> Please note that 3 extra business days may be needed to process the aftersales through your travel agency&nbsp;&nbsp;</p>
            flexibility:
              code: FULL_FLEX
              label: Flexible
              level: 3
            refundable: 'YES'
            exchangeable: 'YES'
            comfortCategory:
              code: COMFORT
              label: Comfort
        comfortCategory:
          code: COMFORT
          label: Comfort
        flexibility:
          code: FULL_FLEX
          label: Flexible
          level: 3
        ticketingOptions:
          - code: PAH
          - code: PAH
    search-response-for-roundtrip-offers:
      value:
        id: afd85607-4958-4836-9fcf-a07a1fd086ac
        pointOfSale: TEST POS
        legs:
          - origin:
              id: za56tYoBQcdVsdef0Jod
              type: station
              code: 'FR:paris'
              uicCode: '8724855'
              label: Paris
              localLabel: Paris
              timezone: Europe/Paris
            destination:
              id: Wq56tYoBQcdVsdef4-bT
              type: station
              code: 'FR:nantes'
              uicCode: '8748100'
              label: Nantes
              localLabel: Nantes
              timezone: Europe/Paris
            departure: '2023-10-15T19:40:00'
            directOnly: false
            solutions:
              - id: a867be69-ebf7-47c3-b1d6-011c9bd919e9
                origin:
                  id: Ja56tYoBQcdVsdef17iu
                  type: station
                  code: 'FR:paris_montparnasse'
                  uicCode: '8739100'
                  label: Paris Montparnasse
                  localLabel: Paris Montparnasse
                  timezone: Europe/Paris
                destination:
                  id: Wq56tYoBQcdVsdef4-bT
                  type: station
                  code: 'FR:nantes'
                  uicCode: '8748100'
                  label: Nantes
                  localLabel: Nantes
                  timezone: Europe/Paris
                departure: '2023-10-15T20:52:00'
                arrival: '2023-10-15T22:54:00'
                duration: PT2H2M
                segments:
                  - id: 1488a8a2-23a6-46a1-b4b4-eed915bb0f71
                    sequenceNumber: 0
                    origin:
                      id: Ja56tYoBQcdVsdef17iu
                      type: station
                      code: 'FR:paris_montparnasse'
                      uicCode: '8739100'
                      label: Paris Montparnasse
                      localLabel: Paris Montparnasse
                      timezone: Europe/Paris
                    destination:
                      id: Wq56tYoBQcdVsdef4-bT
                      type: station
                      code: 'FR:nantes'
                      uicCode: '8748100'
                      label: Nantes
                      localLabel: Nantes
                      timezone: Europe/Paris
                    departure: '2023-10-15T20:52:00'
                    arrival: '2023-10-15T22:54:00'
                    duration: PT2H2M
                    operatingCarrier: TGV INOUI
                    marketingCarrier: TGV
                    vehicle:
                      type: TGV INOUI
                      reference: '8825'
                      code: sncf
                    type: train
                    marketingInformation: PAO_SNCF
                travelerInformationRequired:
                  defaultTravelerInformationRequired:
                    - TITLE
                    - LAST_NAME
                    - FIRST_NAME
                  leadTravelerInformationRequired:
                    - EMAIL
                    - PHONE_NUMBER
          - origin:
              id: Wq56tYoBQcdVsdef4-bT
              type: station
              code: 'FR:nantes'
              uicCode: '8748100'
              label: Nantes
              localLabel: Nantes
              timezone: Europe/Paris
            destination:
              id: za56tYoBQcdVsdef0Jod
              type: station
              code: 'FR:paris'
              uicCode: '8724855'
              label: Paris
              localLabel: Paris
              timezone: Europe/Paris
            departure: '2023-10-16T20:00:00'
            directOnly: false
            solutions:
              - id: 1fd9adf1-85f0-40ff-8140-3bf81c5124f2
                origin:
                  id: Wq56tYoBQcdVsdef4-bT
                  type: station
                  code: 'FR:nantes'
                  uicCode: '8748100'
                  label: Nantes
                  localLabel: Nantes
                  timezone: Europe/Paris
                destination:
                  id: Ja56tYoBQcdVsdef17iu
                  type: station
                  code: 'FR:paris_montparnasse'
                  uicCode: '8739100'
                  label: Paris Montparnasse
                  localLabel: Paris Montparnasse
                  timezone: Europe/Paris
                departure: '2023-10-16T19:05:00'
                arrival: '2023-10-16T21:09:00'
                duration: PT2H4M
                segments:
                  - id: 40f76dc1-d243-41c1-bdc3-d98de1ab6031
                    sequenceNumber: 0
                    origin:
                      id: Wq56tYoBQcdVsdef4-bT
                      type: station
                      code: 'FR:nantes'
                      uicCode: '8748100'
                      label: Nantes
                      localLabel: Nantes
                      timezone: Europe/Paris
                    destination:
                      id: Ja56tYoBQcdVsdef17iu
                      type: station
                      code: 'FR:paris_montparnasse'
                      uicCode: '8739100'
                      label: Paris Montparnasse
                      localLabel: Paris Montparnasse
                      timezone: Europe/Paris
                    departure: '2023-10-16T19:05:00'
                    arrival: '2023-10-16T21:09:00'
                    duration: PT2H4M
                    operatingCarrier: TGV INOUI
                    marketingCarrier: TGV
                    vehicle:
                      type: TGV INOUI
                      reference: '8818'
                      code: sncf
                    type: train
                    marketingInformation: PAO_SNCF
                travelerInformationRequired:
                  defaultTravelerInformationRequired:
                    - TITLE
                    - LAST_NAME
                    - FIRST_NAME
                  leadTravelerInformationRequired:
                    - EMAIL
                    - PHONE_NUMBER
              - id: 110bfb53-fff4-4df1-932e-f94e93a50f92
                origin:
                  id: Wq56tYoBQcdVsdef4-bT
                  type: station
                  code: 'FR:nantes'
                  uicCode: '8748100'
                  label: Nantes
                  localLabel: Nantes
                  timezone: Europe/Paris
                destination:
                  id: Ja56tYoBQcdVsdef17iu
                  type: station
                  code: 'FR:paris_montparnasse'
                  uicCode: '8739100'
                  label: Paris Montparnasse
                  localLabel: Paris Montparnasse
                  timezone: Europe/Paris
                departure: '2023-10-16T20:05:00'
                arrival: '2023-10-16T22:22:00'
                duration: PT2H17M
                segments:
                  - id: c0d34f24-a9a0-4af2-a74a-64ef72b30a20
                    sequenceNumber: 0
                    origin:
                      id: Wq56tYoBQcdVsdef4-bT
                      type: station
                      code: 'FR:nantes'
                      uicCode: '8748100'
                      label: Nantes
                      localLabel: Nantes
                      timezone: Europe/Paris
                    destination:
                      id: Ja56tYoBQcdVsdef17iu
                      type: station
                      code: 'FR:paris_montparnasse'
                      uicCode: '8739100'
                      label: Paris Montparnasse
                      localLabel: Paris Montparnasse
                      timezone: Europe/Paris
                    departure: '2023-10-16T20:05:00'
                    arrival: '2023-10-16T22:22:00'
                    duration: PT2H17M
                    operatingCarrier: TGV INOUI
                    marketingCarrier: TGV
                    vehicle:
                      type: TGV INOUI
                      reference: '8886'
                      code: sncf
                    type: train
                    marketingInformation: PAO_SNCF
                travelerInformationRequired:
                  defaultTravelerInformationRequired:
                    - TITLE
                    - LAST_NAME
                    - FIRST_NAME
                  leadTravelerInformationRequired:
                    - EMAIL
                    - PHONE_NUMBER
        travelers:
          - id: 5d72b96e-fd29-4c66-b54d-db791022536d
            age: 40
            type: ADULT
        offers:
          - type: point-to-point-offer
            id: 2819d1e8-a6b4-4b00-b4de-481ebbecf7b2
            prices:
              billings:
                - billingPrice:
                    amount:
                      value: 133
                      currency: EUR
                    netAmount:
                      value: 133
                      currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
              selling:
                sellingPrice:
                  amount:
                    value: 133
                    currency: EUR
                partnerCommission:
                  amount:
                    value: 0
                    currency: EUR
              amountsToDisplay:
                - amount:
                    value: 133
                    currency: EUR
                  partnerCommission:
                    amount:
                      value: 0
                      currency: EUR
            expirationDate: '2023-09-21T15:01:03.577209975Z'
            location: /offers/point-to-point/searches/afd85607-4958-4836-9fcf-a07a1fd086ac/offers/2819d1e8-a6b4-4b00-b4de-481ebbecf7b2
            fareOffers:
              - id: e01be979-1239-4f0d-a838-b281ea228037
                fares:
                  - productCode: SNCF_FA11_TGV_adults_First
                    segments:
                      - 1488a8a2-23a6-46a1-b4b4-eed915bb0f71
                    travelers:
                      - 5d72b96e-fd29-4c66-b54d-db791022536d
                prices:
                  billings:
                    - billingPrice:
                        amount:
                          value: 133
                          currency: EUR
                        netAmount:
                          value: 133
                          currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                  selling:
                    sellingPrice:
                      amount:
                        value: 133
                        currency: EUR
                    partnerCommission:
                      amount:
                        value: 0
                        currency: EUR
                  amountsToDisplay:
                    - amount:
                        value: 133
                        currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                  ticket:
                    billings:
                      - billingPrice:
                          amount:
                            value: 133
                            currency: EUR
                          netAmount:
                            value: 133
                            currency: EUR
                        partnerCommission:
                          amount:
                            value: 0
                            currency: EUR
                    selling:
                      sellingPrice:
                        amount:
                          value: 133
                          currency: EUR
                      partnerCommission:
                        amount:
                          value: 0
                          currency: EUR
                    amountsToDisplay:
                      - amount:
                          value: 133
                          currency: EUR
                        partnerCommission:
                          amount:
                            value: 0
                            currency: EUR
            serviceOffers:
              - service: a957253e-2bf4-4978-b0b7-78ff98d26cbf
                segments:
[...]
